{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
    <div class="col-md-2">
        {% if request.user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">Документы пожарной безопасности</div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'fire:list' 'order' %}">Приказы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'scroll' %}">Перечни</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'instruction' %}">Инструкции</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'program' %}">Программы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'provision' %}">Положения</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block fire %}
    <style> .popover {
        font-size: 12px;
    }

    .staff_position {
        display: none;
    }

    .staff_profession {
        display: none;
    }
    </style>
    <div class="col-md-10">
        <button type="button" class="btn btn-default btn-sm example" data-container="body" data-toggle="popover"
                data-placement="left" data-html="true" data-content="{% for x in staff_work %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Сотрудники
        </button>
        <h4>Документ:{{ document }}</h4>

        <form action="." method="post" id="post-form">
            {% csrf_token %}
            <table>
                {% for f in form %}
                    {% if f.prefix in formset and f.prefix != 'agreement1' %}
                        <fieldset>
                            <h4>{{ f.label }}</h4>
                            {{ f.management_form }}
                            {{ f.non_form_errors }}
                            {% for form in f.forms %}
                                {{ form.id }}
                                <div class="inline {{ f.prefix }}">
                                    <div>
                                        {{ form.subdivision.errors }}
                                        {{ form.subdivision.label_tag }}
                                        {{ form.subdivision }}
                                    </div>
                                    <div>
                                        {{ form.subdivisions.errors }}
                                        {{ form.subdivisions.label_tag }}
                                        {{ form.subdivisions }}
                                    </div>
                                    <div>
                                        {{ form.system.errors }}
                                        {{ form.system.label_tag }}
                                        {{ form.system }}
                                    </div>
                                    <div>
                                        {{ form.room.errors }}
                                        {{ form.room.label_tag }}
                                        {{ form.room }}
                                    </div>
                                    <div>
                                        {{ form.phone_number.errors }}
                                        {{ form.phone_number.label_tag }}
                                        {{ form.phone_number }}
                                    </div>
                                    <div>
                                        {{ form.employee.errors }}
                                        {{ form.employee.label_tag }}
                                        {{ form.employee }}
                                    </div>
                                    <div class="staff_profession">
                                        {{ form.staff_profession.errors }}
                                        {{ form.staff_profession.label_tag }}
                                        {{ form.staff_profession }}
                                    </div>
                                    <div class="staff_position">
                                        {{ form.staff_position.errors }}
                                        {{ form.staff_position.label_tag }}
                                        {{ form.staff_position }}
                                    </div>
                                    {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% elif f.prefix == 'agreement1' %}
                        <h5>{{ f.non_form_errors }}</h5>
                        <a class="hide_show_element"><h4>Изменить/Указать людей согласующих этот документ?</h4></a>
                        <div class="default_hide">
                            {{ f.management_form }}

                            {% for form in f %}
                                {{ form.id }}
                                <div class="inline {{ f.prefix }}">
                                    <div>
                                        {{ form.employee.errors }}
                                        {{ form.employee.label_tag }}
                                        {{ form.employee }}
                                    </div>
                                    <div class="staff_profession">
                                        {{ form.staff_profession.errors }}
                                        {{ form.staff_profession.label_tag }}
                                        {{ form.staff_profession }}
                                    </div>
                                    <div class="staff_position">
                                        {{ form.staff_position.errors }}
                                        {{ form.staff_position.label_tag }}
                                        {{ form.staff_position }}
                                    </div>
                                    {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if f.prefix == 'paragraph' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Добавить пункт?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    {{ f.paragraph.errors }}
                                    <label for="{{ f.paragraph.id_for_label }}">Дополнительный пункт</label>
                                    {{ f.paragraph }}
                                </div>
                            </div>
                        {% elif f.prefix == 'document_number' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать номер документа?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.document_number.id_for_label }}">Номер документа</label>
                                    {{ f.document_number }}
                                </div>
                            </div>
                        {% elif f.prefix == 'date_signed' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать дату подписания?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.date.id_for_label }}">Дата подписания</label>
                                    {{ f.date }}
                                </div>
                            </div>
                        {% elif f.prefix == 'control_order' %}
                            {{ f.non_field_errors }}
                            {{ f.employee.errors }}
                            <a class="hide_show_element"><h4>Указать человека за которым оставить контроль исполнения
                                приказа?</h4></a>
                            <div class="default_hide">
                                {{ f.label }}
                            {% for field in f %}
                                <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                                </p>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ f.label }}
                            {% for field in f %}
                                <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                    {% if field.name == 'staff_profession' or field.name == 'staff_position' %}
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                                        {% else %}
                                        {{ field.errors }}

                                    {{ field }}
                                {% endif %}
                                </p>
                            {% endfor %}
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </table>
            <div id="submit" class="row">
                <div class="col-md-offset-1 col-md-2">
                    <input type="submit" name="submit" id="loading-example-btn" data-loading-text="Обрабатывается..."
                           value="Отправить" class="submit sila btn btn-primary"/>
                </div>
                <div class="col-md-2">
                    {% block button %}
                        <button type="button" id="preview"
                                class="btn {% if ready_document.pdf_file.url %}btn-success{% else %}btn-default{% endif %}">
                            Просмотр документа
                        </button>
                    {% endblock %}
                </div>
            </div>
        </form>

    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script type="text/javascript">$(document).ready(function () {
        $('#preview').click(function () {
            if ('{{ ready_document.pdf_file.url }}'){
                ModalPdf('http://127.0.0.1:8080{{ ready_document.pdf_file.url }}');}
            else{}
        });
    })</script>
{% endblock %}

