{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
    <div class="col-md-2">
        {% if request.user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">Документы пожарной безопасности</div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'fire:list' 'order' %}">Приказы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'scroll' %}">Перечни</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'instruction' %}">Инструкции</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'program' %}">Программы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'provision' %}">Положения</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <form role="form" method="post" action="{% url 'fire:data_filing' section %}">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}