{% extends "base.html" %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div id="first" class="row" style=" padding-bottom: 50px;">
        <div id="button1" class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:generic_info_detail' request.user.genericinfocompany.pk %}" role="button"
               class="btn btn-md btn-primary">
                Общая информация
            </a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 50px">
    <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:position_profession' request.user.pk %}" role="button"
               class="btn btn-md btn-primary">
                Указать проф/долж. сотрудников/Добавить сотрудника</a></div>
    </div>
    <div class="row" style="padding-bottom: 50px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:update' request.user.pk %}" role="button"
               class="btn btn-md btn-primary">
                Указать разработчиков(инструкций, положений, программ)</a>
        </div>
    </div>
        <div class="row" style="padding-bottom: 50px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:update_leaders' request.user.pk 'fire' %}" role="button"
               class="btn btn-md btn-primary">
                Указать руководящие должности</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 50px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:all_cases' 'fire' %}" role="button"
               class="btn btn-md btn-primary">
                Проверить падежи</a></div>
    </div>
    <div class="row" style="padding-bottom: 50px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:question' 'fire_safety' request.user.pk %}" role="button"
               class="btn btn-md btn-primary">
                Вопросы по Пожарной Безопасности</a></div>
    </div>
    <div class="row" style="padding-bottom: 50px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'fire:list' 'order' %}" role="button"
               class="btn btn-md btn-primary">
                Сформировать документы по ПБ</a>
        </div>
    </div>

{% endblock %}