{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
    <div class="col-md-2">
        {% if request.user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">Документы пожарной безопасности</div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'fire:list' 'order' %}">Приказы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'scroll' %}">Перечни</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'instruction' %}">Инструкции</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'program' %}">Программы</a>
                    <a class="list-group-item" href="{% url 'fire:list' 'provision' %}">Положения</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="col-md-10">

        <table class="table  table-hover table-condensed">
            <thead>
            <tr>
                <th>№</th>
                <th class="text-center">Наименование документа</th>
                <th class="text-center">Предпросмотр</th>
            </tr>
            </thead>

            {% for document, ready in documents %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="{% if ready %}success{% else %}warning{% endif %}">
                        <a href="{% url 'fire:create' section document.pk %}">{{ document }}</a>
                    </td>
                    {% if ready %}
                        <td class="success">
                            {% url 'doc' request.user.pk section document.id as pdf_document_url %}
                            <button href="{{ pdf_document_url }}" class="btn-xs btn-success preview">Смотреть</button>
                        </td>
                    {% else %}
                        <td class="warning">
                            <button type="button" class="btn btn-xs btn-warning">Не сформирован</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>

        <button class="btn btn-primary" data-toggle="modal" data-target="#modalCreateDocuments">
            Сформировать документы
        </button>
        <a href="{% url 'fire:data_filing' section %}">
            <button class="btn btn-success">Заполнить даты документов
            </button>
        </a>
        <div class="modal fade" id="modalCreateDocuments" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form role="form" method="post" action="{% url 'fire:list' section %}">{% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Создание документов</h4>
                        </div>
                        <div class="modal-body">
                            <p>Выберите из списка документы, которые вы хотите сформировать</p>
                            {{ form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal_link.js" %}"></script>

{% endblock %}