.selector-available,
.selector-chosen {
    width: 580px;

}

.selector .selector-available input {
    width: 184px;

}

.selector select {
    width: 580px;
    height: 550px;
}

.selector {
    width: 1200px;
}