{% extends 'base.html' %}
{% load static %}
{% block button_back %}
{% endblock %}
{% block about_company %}
    <div class="progress progress-striped active">
        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
    <h3 id="time-download" class="text-center"></h3>
    <form role="form" method="post" action=".">{% csrf_token %}
        <input type="button" id="submit" value="Сформировать документы по ОТ" class="submit btn btn-success"/>
    </form>
{% endblock %}
{% block button %}
{% endblock %}
{% block documents_section %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#time-download').hide();
        var submit_ajax = function () {
            $('#submit').attr({'disabled': "disabled"});
            $.ajax({
                url: "{% url 'electrical_safety:create_document_el' %}",
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    var progress_bar = $('#progress-bar');
                    var percent = data['percent'];
                    progress_bar.text(percent + '%').attr({'style': 'width: ' + percent + '%'});
                    if ((data['percent'] < 100)) {
                        submit_ajax();
                    } else if ((percent === 100)) {
                        progress_bar.text('100%').attr({'style': 'width: 100%'});
                        $('#time-download').text('время обработки документов ' + data['time'] + ' с.').show("slow");
                        $('#submit').removeAttr('disabled');
                    }
                },
                error: function (data) {
                    alert('Произошла ошибка, попробуйте перезагрузить страницу');
                    $('#submit').removeAttr('disabled');
                }
            });
        };
        $('#submit').click(submit_ajax)
    </script>
    <script type="application/javascript" src="{% static "fire_safety/ajax_csrf.js" %}"></script>
{% endblock %}