{% extends 'electrical_safety/create.html' %}
{% block button_back %}
{% endblock %}
{% block about_test %}
    <style>
        .dropdown-menu {
            min-width: 200px;
        }

        .dropdown-menu.columns-2 {
            min-width: 400px;
        }

        .dropdown-menu.columns-3 {
            min-width: 600px;
        }

        .dropdown-menu li a {
            padding: 5px 15px;
            font-weight: 300;
        }

        .multi-column-dropdown {
            list-style: none;
        }

        .multi-column-dropdown li a {
            display: block;
            clear: both;
            line-height: 1.428571429;
            color: #333;
            white-space: normal;
        }

        .multi-column-dropdown li a:hover {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

        @media (max-width: 767px) {
            .dropdown-menu.multi-column {
                min-width: 240px !important;
                overflow-x: hidden;
            }
        }
    </style>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-4" role="group">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class=" dropdown dropdown-toggle" data-toggle="dropdown">Вопрос {{ q_pk }} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div class="row">
                                {% for document, ready in documents_chain %}
                                    {% if forloop.counter == 1 or forloop.counter == 9 %}
                                        <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                    {% endif %}
                                <li><a {% if ready %}style="color: #449d44"{% endif %}
                                       href="{% url 'electrical_safety:create_in_chain' forloop.counter0 %}">Вопрос {{ forloop.counter }}</a>
                                </li>
                                {% if forloop.counter == 8 or forloop.last %}
                                    </ul>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'electrical_safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Инструкции к заполнению по Электробезопасности
            </a>
        </div>
    </div>

    <h3 class="text-center" style="color: #428BCA">Вам осталось ответить на {{ questions_remain }} вопросов</h3>
{% endblock %}
{% block button %}
{% endblock %}