{% extends 'base.html' %}
{% load static %}
{% block about_test %}{% endblock %}
{% block documents_section %}
<style>
.wickedpicker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
    background: #fefefe;
    margin: 0 auto;
    border-radius: 0.1px;
    width: 130px;
    height: 130px;
    font-size: 14px;
    display: none;
}

</style>
{% endblock %}

{% block fire %}
    <style> .popover {
        font-size: 12px;
    }

    .staff_position {
        display: none;
    }

    .staff_profession {
        display: none;
    }
    #submit{
        padding-top: 50px;
    }
    </style>
    <div class=" col-md-10">

        <h4>Документ:{{ document }}</h4>

        <form action="." method="post" id="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {% for f in form %}
                    {% if f.prefix in formset %}
                        <fieldset>
                            <h4>{{ f.label }}</h4>
                            {{ f.management_form }}
                            {{ f.non_form_errors }}
                            {% for form in f.forms %}
                                {{ form.id }}
                                <div class="inline {{ f.prefix }}">

                                {% if form.employee %}
                                    <div class="employee_backlight">
                                        {{ form.employee.errors }}
                                        {{ form.employee.label_tag }}
                                        {{ form.employee }}
                                    </div>
                                {% endif %}
                                {% if form.staff_profession %}
                                    <div class="staff_profession">
                                        {{ form.staff_profession.errors }}
                                        {{ form.staff_profession.label_tag }}
                                        {{ form.staff_profession }}
                                    </div>
                                {% endif %}
                                {% if form.staff_position %}
                                    <div class="staff_position">
                                        {{ form.staff_position.errors }}
                                        {{ form.staff_position.label_tag }}
                                        {{ form.staff_position }}
                                    </div>
                                {% endif %}
                                    {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% else %}
                        {% if f.prefix == 'paragraph' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Добавить пункт?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    {{ f.paragraph.errors }}
                                    <label for="{{ f.paragraph.id_for_label }}">Дополнительный пункт</label>
                                    {{ f.paragraph }}
                                </div>
                            </div>
                        {% elif f.prefix == 'document_number' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать номер документа?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.document_number.id_for_label }}">Номер документа</label>
                                    {{ f.document_number }}
                                </div>
                            </div>
                        {% elif f.prefix == 'date_signed' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать дату подписания?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.date.id_for_label }}">Дата подписания</label>
                                    {{ f.date }}
                                </div>
                            </div>
                        {% elif f.prefix == 'control_order' %}
                            {{ f.non_field_errors }}
                            {{ f.employee.errors }}
                            <a class="hide_show_element"><h4>Указать человека за которым оставить контроль исполнения
                                приказа?</h4></a>
                            <div class="default_hide">
                                {{ f.label }}
                                {% for field in f %}
                                    <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ f.label }}
                            {% for field in f %}
                                <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                    {% if field.name == 'staff_profession' or field.name == 'staff_position' %}
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    {% else %}
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
            <div id="submit" class="row">
                <div class="col-md-offset-1 col-md-2">
                    <input type="submit" name="submit" id="loading-example-btn" data-loading-text="Обрабатывается..."
                           value="Отправить" class="submit btn btn-primary"/>
                </div>
                <div class="col-md-2">
                    {% block button %}
                        <button type="button" id="preview"
                                class="btn {% if ready_document.pdf_file.url %}btn-success{% else %}btn-default{% endif %}">
                            Просмотр
                            документа
                        </button>
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script type="application/javascript">$(document).ready(function () {
        $('#preview').click(function () {
            if ('{{ ready_document.pdf_file.url }}') {
                ModalPdf('{{ ready_document.pdf_file.url }}');
            }
            else {
            }
        });
    })</script>
    <script src="{% static "fire_safety/wickedpicker.js" %}"></script>
    <script type="text/javascript">
        $('#loading-example-btn').click(function () {
            var btn = $(this);
            btn.button('loading')
        });
    </script>
{% endblock %}

