{% extends "base.html" %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div id="first" class="row" style=" padding-bottom: 70px;">
        <div id="button1" class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:generic_info_update' request.user.genericinfocompany.pk %}" role="button"
               class="btn btn-lg {% if generic_info %} btn-success {% else %} btn-danger {% endif  %}">
                Общая информация
            </a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 70px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'electrical_safety:update_leaders' request.user.pk %}" role="button"
               class="btn btn-lg {% if leaders %} btn-success {% else %} btn-danger {% endif  %}">
                Указать руководящие должности</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 70px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'electrical_safety:create_in_chain' '0' %}" role="button"
               class="btn btn-lg {% if test %} btn-success {% else %} btn-danger {% endif  %}">
                Вопросы по Электробезопасности</a></div>
    </div>
    <div class="row" style="padding-bottom: 70px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'electrical_safety:create_document_el' %}" role="button"
               class="btn btn-lg btn-primary">
                Сформировать документы по ОТ</a>
        </div>
    </div>

{% endblock %}