{% extends 'company/update_leaders.html' %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <a href="{% url 'electrical_safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по Электробезопасности
            </a>
        </div>
    </div>
{% endblock %}