{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <form role="form" action="." method="post">{% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.errors }}
                <label>Обнулить все ответы на вопросы: </label>
                {{ field }}
            </div>
        {% endfor %}
        <div>
            <input type="submit" class="btn btn-primary" name="submit" value="Отправить">
        </div>
    </form>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>

{% endblock %}