{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-10">

        <table class="table  table-hover table-condensed">
            <thead>
            <tr>
                <th>№</th>
                <th class="text-center">Наименование документа</th>
                <th class="text-center">Предпросмотр</th>
            </tr>
            </thead>

            {% for document, ready in documents %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="{% if ready %}success{% else %}warning{% endif %}">
                        <a href="{% url 'ecology:create_document' document.pk %}">{{ document }}</a>
                    </td>
                    {% if ready %}
                        <td class="success">
                        {% url 'doc_ec' request.user.pk document.section_document document.id as pdf_document_url %}
                        <button href="{{ pdf_document_url }}" class="btn btn-xs btn-success preview">Смотреть</button>
                        </td>
                    {% else %}
                        <td class="warning">
                            <button type="button" class="btn btn-xs btn-warning">Не сформирован</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal_link.js" %}"></script>

{% endblock %}