{% extends "base.html" %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}

    <div class="row" style="padding-bottom: 30px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ecology:question' %}" role="button"
               class="btn btn-md btn-success">
                Ответить на вопросы</a></div>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ecology:clear_answer' %}" role="button"
               class="btn btn-md btn-success">
                Обнулить ответы на вопросы</a></div>
    </div>

{% endblock %}