{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <form role="form" action="." method="post">{% csrf_token %}
        {{ form.management_form }}
        {% for f in form %}
            {{ f.id }}
            {% for field in f %}
                {% if 'text' in field.html_name %}
                    {{ field }}
                    {{ field.value }}
                    {{ field.errors }}
                {% else %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="submit" value="Отправить">
        </div>
    </form>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var select = $('.selectpicker_question');
            select.selectpicker({
                'actionsBox': 'true',
                'deselectAllText': 'Снять все выделения',
                'selectAllText': 'Выделить все',
                'liveSearch': true,
                'liveSearchPlaceholder': null,
                'liveSearchStyle': 'contains',
                'dropupAuto': false
            }).on('loaded.bs.select', function (e) {
                var size = 130;
                sel = $(this).prev().find('.text');
                for (i = 0; i < sel.length; i++) {
                    newsContent = $(sel[i]);
                    newsText = newsContent.text();
                    if (newsText.length > size) {
                        newsContent.attr("data-toggle", "tooltip");
                        newsContent.attr("data-placement", "left");
                        newsContent.attr("title", newsText);
                        newsContent.text(newsText.slice(0, size) + ' ...');
                    }
                }
            });
        });
    </script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            {% for f in form %}
                $('.selectpicker_question').eq(
                        {{ forloop.counter0 }}).selectpicker('val', '{{ f.instance.answer }}'.split(' ')
                );
            {% endfor %}
        });
    </script>
{% endblock %}