{% extends 'work_safety/create_work_safety_document.html' %}
{% block button_back %}
{% endblock %}
{% block about_test %}
    <style>
    .dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
    </style>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
            <div class="row">
                <div class="col-md-4" role="group">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class=" dropdown dropdown-toggle" data-toggle="dropdown">Вопрос {{ q_pk }} <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-2">
                                    <div class="row">
                                        {% for document, ready in documents_chain %}
                                            {% if forloop.counter == 1 or forloop.counter == 17 %}
                                                <div class="col-sm-6">
                                                <ul class="multi-column-dropdown">
                                            {% endif %}
                                        <li><a {% if ready %}style="color: #449d44"{% endif %}
                                                href="{% url 'work-safety:create-document-chain' forloop.counter0 %}">Вопрос {{ forloop.counter }}</a>
                                        </li>
                                        {% if forloop.counter == 16 or forloop.last %}
                                            </ul>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if questions_remain %}
                        <h5 class="text-center">Осталось ответить на <strong>{{ questions_remain }} вопросов</strong></h5>
                    {% else %}
                        <h5 class="text-center"><strong>Вы ответили на все вопросы</strong></h5>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-default" role="button">
                        Страница подготовки к формирования документов по ОТ
                    </a>
                </div>
            </div>


{% endblock %}
{% block button %}
{% endblock %}
{% block pdf_modal %}
{% endblock %}