{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
<style>
.wickedpicker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
    background: #fefefe;
    margin: 0 auto;
    border-radius: 0.1px;
    width: 130px;
    height: 130px;
    font-size: 14px;
    display: none;
}

</style>
{% endblock %}

{% block about_company %}
    {{ block.super }}
    <div class="col-md-offset-10 col-md-2">
        <button type="button" class="btn btn-info btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in staff_work %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Сотрудники
        </button>
    </div>
{% endblock %}
{% block fire %}
    <style> .popover {
        font-size: 12px;
    }

    .staff_position {
        display: none;
    }

    .staff_profession {
        display: none;
    }
    #submit{
        padding-top: 50px;
    }
    </style>
    {% block button_back %}
    <div class="col-md-2">
        <a role="button" class="btn btn-primary" href="{% url 'work-safety:list-document' document.section %}">
            <span class="glyphicon glyphicon-arrow-left">
            </span> Назад</a>
    </div>
        {% endblock %}
    <div class=" col-md-10">
        <a href="{% url 'work-safety:update_field' request.user.pk document.pk %}">Удалить/добавить вопросы документа</a>
        <h4>Документ:{{ document }}</h4>

        <form action="." method="post" id="post-form">
            {% csrf_token %}
            <table>
                {% for f in form %}
                    {% if f.prefix in formset and f.prefix != 'agreement1' %}
                        <fieldset>
                            <h4>{{ f.label }}</h4>
                            {{ f.management_form }}
                            {{ f.non_form_errors }}
                            {% for form in f.forms %}
                                {{ form.id }}
                                <div class="inline {{ f.prefix }}">
                            {% if form.days %}
                                <div class="row">
                                    <div class="col-xs-4">
                                        {{ form.days.errors }}
                                        {{ form.days.label_tag }}
                                        {{ form.days }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ form.starting_work.errors }}
                                        {{ form.starting_work.label_tag }}
                                        {{ form.starting_work }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ form.end_work.errors }}
                                        {{ form.end_work.label_tag }}
                                        {{ form.end_work }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ form.starting_dinner.errors }}
                                        {{ form.starting_dinner.label_tag }}
                                        {{ form.starting_dinner }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ form.end_dinner.errors }}
                                        {{ form.end_dinner.label_tag }}
                                        {{ form.end_dinner }}
                                    </div>
                                </div>
                            {% endif %}
                                {% if form.subdivision %}
                                    <div class="dev_subdivisions">
                                        {{ form.subdivision.errors }}
                                        {{ form.subdivision.label_tag }}
                                        {{ form.subdivision }}
                                    </div>
                                {% endif %}
                                {% if form.system %}
                                    <div>
                                        {{ form.system.errors }}
                                        {{ form.system.label_tag }}
                                        {{ form.system }}
                                    </div>
                                {% endif %}
                                {% if form.room %}
                                    <div>
                                        {{ form.room.errors }}
                                        {{ form.room.label_tag }}
                                        {{ form.room }}
                                    </div>
                                {% endif %}
                                {% if form.phone_number %}
                                    <div>
                                        {{ form.phone_number.errors }}
                                        {{ form.phone_number.label_tag }}
                                        {{ form.phone_number }}
                                    </div>
                                {% endif %}
                                {% if form.instructions %}
                                    <div class="dev_instructions">
                                        {{ form.instructions.errors }}
                                        {{ form.instructions.label_tag }}
                                        {{ form.instructions }}
                                    </div>
                                {% endif %}
                                {% if form.time_briefing %}
                                    <div>
                                        {{ form.time_briefing.errors }}
                                        {{ form.time_briefing.label_tag }}
                                        {{ form.time_briefing }}
                                    </div>
                                {% endif %}
                                {% if form.profession %}
                                    <div class="briefing_profession">
                                        {{ form.profession.errors }}
                                        {{ form.profession.label_tag }}
                                        {{ form.profession }}
                                    </div>
                                {% endif %}
                                {% if form.position %}
                                    <div class="briefing_position">
                                        {{ form.position.errors }}
                                        {{ form.position.label_tag }}
                                        {{ form.position }}
                                    </div>
                                {% endif %}
                                {% if form.view_instructions %}
                                    <div>
                                        {{ form.view_instructions.errors }}
                                        {{ form.view_instructions.label_tag }}
                                        {{ form.view_instructions }}
                                    </div>
                                {% endif %}
                                {% if form.subdivisions %}
                                    <div class="dev_subdivisions">
                                        {{ form.subdivisions.errors }}
                                        {{ form.subdivisions.label_tag }}
                                        {{ form.subdivisions }}
                                    </div>
                                {% endif %}
                                {% if form.employee %}
                                    <div class="employee_backlight">
                                        {{ form.employee.errors }}
                                        {{ form.employee.label_tag }}
                                        {{ form.employee }}
                                    </div>
                                {% endif %}
                                {% if form.staff_profession %}
                                    <div class="staff_profession">
                                        {{ form.staff_profession.errors }}
                                        {{ form.staff_profession.label_tag }}
                                        {{ form.staff_profession }}
                                    </div>
                                {% endif %}
                                {% if form.staff_position %}
                                    <div class="staff_position">
                                        {{ form.staff_position.errors }}
                                        {{ form.staff_position.label_tag }}
                                        {{ form.staff_position }}
                                    </div>
                                {% endif %}
                                    {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% elif f.prefix == 'agreement1' %}
                        <h5>{{ f.non_form_errors }}</h5>
                        <a class="hide_show_element"><h4>Изменить/Указать людей согласующих этот документ?</h4></a>
                        <div class="default_hide">
                            {{ f.management_form }}

                            {% for form in f %}
                                {{ form.id }}
                                <div class="inline {{ f.prefix }}">
                                    <div>
                                        {{ form.employee.errors }}
                                        {{ form.employee.label_tag }}
                                        {{ form.employee }}
                                    </div>
                                    <div class="staff_profession">
                                        {{ form.staff_profession.errors }}
                                        {{ form.staff_profession.label_tag }}
                                        {{ form.staff_profession }}
                                    </div>
                                    <div class="staff_position">
                                        {{ form.staff_position.errors }}
                                        {{ form.staff_position.label_tag }}
                                        {{ form.staff_position }}
                                    </div>
                                    {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if f.prefix == 'paragraph' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Добавить пункт?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    {{ f.paragraph.errors }}
                                    <label for="{{ f.paragraph.id_for_label }}">Дополнительный пункт</label>
                                    {{ f.paragraph }}
                                </div>
                            </div>
                        {% elif f.prefix == 'document_number' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать номер документа?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.document_number.id_for_label }}">Номер документа</label>
                                    {{ f.document_number }}
                                </div>
                            </div>
                        {% elif f.prefix == 'date_signed' %}
                            <h5>{{ f.non_field_errors }}</h5>
                            <a class="hide_show_element"><h4>Указать дату подписания?</h4></a>
                            <div class="default_hide">
                                <div class="fieldWrapper">
                                    <label for="{{ f.date.id_for_label }}">Дата подписания</label>
                                    {{ f.date }}
                                </div>
                            </div>
                        {% elif f.prefix == 'control_order' %}
                            {{ f.non_field_errors }}
                            {{ f.employee.errors }}
                            <a class="hide_show_element"><h4>Указать человека за которым оставить контроль исполнения
                                приказа?</h4></a>
                            <div class="default_hide">
                                {{ f.label }}
                                {% for field in f %}
                                    <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </p>
                                {% endfor %}
                            </div>
                        {% else %}


                            {% for field in f %}
                                <p class="{% if field.name == 'staff_profession' %}staff_profession{% elif field.name == 'staff_position' %}staff_position{% endif %}">
                                    {% if field.name == 'staff_profession' or field.name == 'staff_position' %}
                                        {{ field.errors }}
                                        {% if f.label %}<label>{{ f.label }}</label>{% else %} {{ field.label_tag }}{% endif %}
                                        {{ field }}
                                    {% else %}
                                        {{ field.errors }}
                                        {% if f.label %}<label>{{ f.label }}</label>{% else %} {{ field.label_tag }}{% endif %}
                                        {{ field }}
                                    {% endif %}
                                </p>
                            {% endfor %}

                        {% endif %}

                    {% endif %}
                {% endfor %}
            </table>
            <div id="submit" class="row">
                <div class="col-md-offset-1 col-md-2">
                    <input type="submit" name="submit" id="loading-example-btn" data-loading-text="Обрабатывается..."
                           value="Отправить" class="submit btn btn-primary"/>
                </div>
                <div class="col-md-2">
                    {% block button %}
                        <button type="button" id="preview"

                                class="btn {% if ready_document.pdf_file %}{% if ready_document.pdf_file.url %}btn-success{% else %}btn-default{% endif %}{% endif %}">

                            Просмотр
                            документа
                        </button>
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>

    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
        {% block pdf_modal %}
        <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
        <script type="application/javascript">$(document).ready(function () {
            $('#preview').click(function () {
                if ('{% if ready_document.pdf_file %}{{ ready_document.pdf_file.url }}{% endif %}') {
                    ModalPdf('{% url 'doc_ot' request.user.pk document.section document.pk %}');
                }
                else {
                }
            });
        })</script>
        {% endblock %}
    <script src="{% static "fire_safety/wickedpicker.js" %}"></script>
    <script type="text/javascript">
        $('#loading-example-btn').click(function () {
            var btn = $(this);
            btn.button('loading')
        });
        var getTime = function (data) {
            var x = data;
        };
        var options = {
            now: "9 : 00",
            twentyFour: true,
            upArrow: 'glyphicon glyphicon-chevron-up',
            downArrow: 'glyphicon glyphicon-chevron-down',
            close: 'wickedpicker__close',
            hoverState: 'hover-state',
            title: 'Выберите время',
            showSeconds: false,
            minutesInterval: 5,
            beforeShow: getTime,
            show: getTime,
            clearable: false
        };

        var timepickers = $('.timepicker');
        for (var i = 0; i < timepickers.length; i++) {
            options.now = timepickers[i].value;
            if (options.now) {
                $(timepickers[i]).wickedpicker(options)
            } else {
                options.now = "8 : 00";
                $(timepickers[i]).wickedpicker(options)
            }
        }
    </script>
{% endblock %}

