{% extends 'base.html' %}
{% load static %}
{% block button_back %}
{% endblock %}
{% block about_company %}
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h2 class="text-center">Указываем даты для документов</h2>
    <form role="form" method="post" action=".">{% csrf_token %}
        <p> Здесь собраны документы которым для заполнения нужна одна дата, такие как приказы перечни и т.д</p>
        {{ form.date_one.errors }}
        {{ form.date_one.label_tag }}
        {{ form.date_one }}

        {{ form.documents_one_date.errors }}
        {{ form.documents_one_date.label_tag }}
        {{ form.documents_one_date }}

        <p style="padding-top: 20px"> Здесь собраны инструкции которым для заполнения нужно две даты, дата
            разработки и дата для согласования, уполномоченного и утверждения</p>
        {{ form.date_two.errors }}
        {{ form.date_two.label_tag }}
        {{ form.date_two }}

        {{ form.date_three.errors }}
        {{ form.date_three.label_tag }}
        {{ form.date_three }}

        {{ form.documents_two_date.errors }}
        {{ form.documents_two_date.label_tag }}
        {{ form.documents_two_date }}
        <input type="submit" name="submit" value="Отправить" class="submit btn btn-success" style="margin-top: 30px"/>
    </form>
{% endblock %}
{% block button %}
{% endblock %}
{% block documents_section %}
{% endblock %}

{% block js %}
    <script src="{% static 'fire_safety/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'fire_safety/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "fire_safety/add.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}