{% extends 'base.html' %}
{% load static %}
{% block button_back %}
{% endblock %}
{% block about_company %}
    <style>
    .section_doc {
        color: #5BC0DE;
    }
    </style>
    <div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in staff_work %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Сотрудники
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-info btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in positions %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Должности
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-info btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in professions %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Профессии
        </button>
    </div>
        <div class="col-md-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>
    <h3 class="text-center">Выберите документы по ОТ которые нужно сформировать</h3>
{% endblock %}
{% block content %}
    <form role="form" class="form" method="post" action=".">{% csrf_token %}
        {% for f in form %}
            <div>
                <h4 align="center">
                    {{ f.work_documents.label }}
                </h4>
                {{ f.work_documents }}
            </div>
        {% endfor %}
        <input type="submit" name="submit" value="Отправить" class="submit btn btn-success"/>
    </form>
{% endblock %}
{% block button %}
{% endblock %}
{% block documents_section %}
{% endblock %}

{% block js %}
    <script src="{% static 'fire_safety/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'fire_safety/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "fire_safety/add.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script type="text/javascript">
    $('.select_ot_document').selectpicker({
        'actionsBox': 'true',
        'deselectAllText': 'Снять все выделения',
        'selectAllText': 'Выделить все',
        'dropupAuto': false,
        'liveSearch': true,
        'liveSearchStyle': 'contains',
        'selectedTextFormat': 'count > 2'

    })
    </script>
{% endblock %}