{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}

    <form enctype="multipart/form-data" method="post" action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.file_excel.errors }}
            {{ form.file_excel.label_tag }}
            {{ form.file_excel }}
        </div>
        <hr>

        <input data-loading-text="Loading..." id="loading-btn" type="submit" value="Загрузить"
               class="submit btn btn-primary btn-lg"/>
    </form>
{% endblock %}