{% extends "base.html" %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div id="first" class="row" style=" padding-bottom: 40px;">
        <div id="button1" class="col-md-4 text-center">
            <a href="{% url 'company:generic_info_detail' request.user.genericinfocompany.pk %}" role="button"
               class="btn btn-md {% if generic_info %} btn-success {% else %} btn-danger {% endif  %}">
                Общая информация
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="{% url 'company:question' 'work_safety' request.user.pk %}" role="button"
               class="btn btn-md {% if questions %} btn-success {% else %} btn-danger {% endif  %}">
                Вопросы по ОТ</a></div>
        <div class="col-md-4 text-center">
            <a href="{% url 'company:position_profession' request.user.pk %}" role="button"
               class="btn btn-md {% if staff_check %} btn-success {% else %} btn-danger {% endif  %}">
                Указать проф/долж. сотрудников/Добавить сотрудника</a></div>
    </div>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-4 col-md-offset-8 text-center">
            <a href="{% url 'company:update_leaders' request.user.pk 'work' %}" role="button"
               class="btn btn-md {% if leaders %} btn-success {% else %} btn-danger {% endif  %}">
                Указать руководящие должности</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'company:all_cases' 'work' %}" role="button"
               class="btn btn-md {% if cases %} btn-success {% else %} btn-danger {% endif  %}">
                Проверить падежи</a></div>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-md-4 text-center">
            <a href="{% url 'work-safety:download_documents' %}" role="button"
               class="btn btn-md btn-primary">
                Догрузить документы</a></div>
        <div class="col-md-4 text-center">
                <a href="{% url 'work-safety:siz-update' %}" role="button"
                   class="btn btn-md btn-primary">
                    Редактировать СИЗЫ</a></div>
        <div class="col-md-4 text-center">
                <a href="{% url 'company:staff_pos_prof' %}" role="button"
                   class="btn btn-md btn-primary">
                    прием на работу/подразделения/инструктаж работников</a></div>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'work-safety:create-document-chain' '0' %}" role="button"
               class="btn btn-md {% if test %} btn-success {% else %} btn-danger {% endif  %}">
                Тест по ОТ</a></div>
    </div>
    <div class="row" style="padding-bottom: 30px">
    <div class="col-md-4 text-center">
            <a href="{% url 'work-safety:number_instructions' %}" role="button"
               class="btn btn-md btn-primary">
                Сформировать номера инструкций</a></div>
        <div class="col-md-4 text-center">
            <a href="{% url 'work-safety:data_filing' %}" role="button"
               class="btn btn-md btn-primary">
                Заполнить даты</a></div>
    </div>
    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'work-safety:create-document-ot' %}" role="button"
               class="btn btn-md btn-primary">
                Сформировать документы по ОТ</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'work-safety:signed_documents' %}" role="button"
               class="btn btn-md btn-primary">
               Список людей которые расписываются в доках</a>
        </div>
    </div>

{% endblock %}