{% extends "base.html" %}
{% load static render_json_for_tree %}
{% block about_company %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
        {% endfor %}
    </ul>

{% endif %}
    <div class="panel panel-info">
        <div class="panel-heading"><strong>ЧТО вам стоит знать когда вы находитесь на этой странице</strong></div>
        <div class="panel-body">
            Здесь находится весь список ваших документов по ОТ и вы можете просмотреть их все если они были предваритально
            <a href="{% url 'work-safety:instructions' %}">сформированы,</a> так же вы можете зайти в каждый из документом
            нажав на его названии и заполнить его более детально, чем это было сделано нами в автоматическом режиме.
        </div>
    </div>
{% endblock %}
{% block documents_section %}
    <div class="col-md-3">
        <div id="tree"></div>

    </div>
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <table class="table  table-hover table-condensed">
            <thead>
            <tr>
                <th>№</th>
                <th class="text-center">Наименование документа</th>
                <th class="text-center">Предпросмотр</th>
            </tr>
            </thead>
            <tbody id="documents">
            {% for document in documents %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="{% if document.pk in ready %}success{% else %}warning{% endif %}">
                        <a href="{% url 'work-safety:create-document' document.pk %}">{{ document }} {{ document.document_code }}</a>
                    </td>
                    {% if document.pk in ready_pdf %}
                        <td class="success">
                        {% url 'doc_ot' request.user.pk document.section document.pk as pdf_document_url %}
                        <button href="{{ pdf_document_url }}" class="btn-xs btn-success preview">Смотреть</button>
                        </td>
                    {% else %}
                        <td class="success">
                            <button type="button" class="btn btn-xs btn-warning">PDF-файл не сформирован</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form role="form" method="post" action=".">{% csrf_token %}
                        <div class="modal-header">
                            {{ form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="submit" class="btn text-left btn-primary" value="Сохранить?">
                                </div>
                                <div class="col-md-offset-8 col-md-2">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">$(document).ready(function () {
        function parse(str) {
            var args = [].slice.call(arguments, 1),
                    i = 0;
            return str.replace(/%s/g, function () {
                return args[i++];
            });
        }
        var filing_table = function (data) {
            var tbody = $('#documents');
            var documents = data.documents;
            var ready_documents = data.ready_word;
            tbody.empty();
            for (var j = 0; j < documents.length; j++) {
                var doument_title = documents[j][0];
                var doument_url_create = documents[j][1];
                var count = j + 1;
                if (documents[j][2]) {
                    var pdf_url = documents[j][2];
                    var td_class = 'success';
                    var button_class = 'btn-xs btn-success preview';
                    var button_text = 'Смотреть'
                } else if (ready_documents.indexOf(documents[j][3]) != -1){
                    pdf_url = '';
                    td_class = 'success';
                    button_class = 'btn btn-xs btn-warning';
                    button_text = 'PDF-файл не сформирован'
                } else {
                    pdf_url = '';
                    td_class = 'warning';
                    button_class = 'btn btn-xs btn-warning';
                    button_text = 'PDF-файл не сформирован'
                }
                var text = parse('<tr><td>%s</td><td class="%s"><a href="%s">%s</a></td><td class="%s"><button href="%s" class="%s">%s</button></td></tr>', count,
                        td_class, doument_url_create, doument_title, td_class,  pdf_url, button_class, button_text);
                tbody.append(text)
            }
            $('.preview').on('click', function () {
                ModalPdf(this.getAttribute('href'))
            });
        };
        $('#tree').treeview({
            levels: 2,
            showTags: true,
            data: {{ tree|render_json|safe }}
        }).on('nodeSelected', function(event, data) {
            var url = $(data).attr('href');
            $.ajax({
                type: "GET",
                url: "/ot/section/" + url,
                dataType: "json",
                async: false,
                success: filing_table
            });
        });
    });
    </script>
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal_link.js" %}"></script>
    <script src="{% static "fire_safety/bootstrap-treeview.js" %}"></script>
{% endblock %}