{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}

{% endblock %}
{% block content %}
        <style>
        table { padding-bottom: 200px; }
    </style>
    <div class="col-md-12">
<a class="btn btn-sm btn-primary" href="{% url 'work-safety:siz-update' %}" role="button">
    Редактировать СИЗ для профессий и должностей</a>

        <table id="table_siz" class="table table-striped table-condensed">
            <tr>
                <td><strong>#</strong></td>
                <td><strong>Должность/профессия</strong></td>
                <td class="text-center"><strong>Реадактировать СИЗ для должности(профессии)</strong></td>
            </tr>
            {% for id_work, title in profession_position %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ title }}</td>
                    <td class="text-center"><a class="btn btn-sm btn-success " href="{% url 'work-safety:siz-create' id_work %}" role="button">Редактировать</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}
