{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
            <div class="col-md-2">
                {% if request.user.is_authenticated %}
                    <div class="panel panel-default">

                        <div class="panel-heading">Документы охраны труда</div>
                        <div class="list-group">
                            <a class="list-group-item" href="{% url 'work-safety:siz' %}">Нормы СИЗ</a>
                        </div>

                    </div>
                {% endif %}
            </div>
        {% endblock %}
{% block fire %}
    <style> .popover {
        font-size: 12px;
    }

    .staff_position {
        display: none;
    }

    .staff_profession {
        display: none;
    }
    </style>
    <div class="col-md-10">
        <button type="button" class="btn btn-default btn-sm example" data-container="body" data-toggle="popover"
                data-placement="left" data-html="true" data-content="{% for x in staff_work %}
                        {{ forloop.counter }}. {{ x }}</br>
            {% endfor %}">
            Сотрудники
        </button>
        <h4>Документ:{{ document }}</h4>
        <form role="form" action="." method="post">{% csrf_token %}
            <input type="submit" name="submit" id="loading-example-btn" data-loading-text="Обрабатывается..."
                   value="Отправить" class="submit sila btn btn-primary"/>
            <button type="button" id="preview" class="btn {% if ready_document.pdf_file.url %}btn-success{% else %}btn-default{% endif %}">Просмотр документа</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/pdf_in_modal.js" %}"></script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "fire_safety/dynamic_employee.js" %}"></script>
    <script type="application/javascript">$(document).ready(function () {
        $('#preview').click(function () {
            if ('{{ ready_document.pdf_file.url }}'){
                ModalPdf('http://127.0.0.1:8080{{ ready_document.pdf_file.url }}');}
            else{}
        });
    })</script>
{% endblock %}

