{% extends 'base.html' %}
{% load static get_previous get_value_by_key %}
{% block documents_section %}
{% endblock %}
{% block content %}

    <div class="col-md-12">
    <h3>Сизы напротив которых стоит галочка не будут использованы в документах, поэтому уберите ее у тех сизов,
    которые вам необходимы</h3>
        <form action="." role="form" method="post">{% csrf_token %}
        <small>
            <table class="table table-bordered table-condensed">
                <tr class="info">

                    <td class="text-center">Должность(профессия)</td>
                    <td class="text-center">Название СИЗ</td>
                    <td class="text-center">Убрать/Оставить</td>
                    <td class="text-center" >Условие</td>
                    <td class="text-center">Маркировка</td>
                    <td class="text-center" >Время носки</td>
                </tr>
                {{ form.management_form }}
                {% for x in form %}
                    {{ x.id }}
                    {% with b=x|get_previous:form %}
                        {% if forloop.counter0 in m %}
                            <tr class="active">
                            <td colspan="7">
                                {{ x.del_siz.form.instance.title_document }}
                                {{ x.del_siz.form.instance.chapter }}
                            </td>
                            </tr>
                        {% endif %}
                        {% if forloop.counter0 in m %}
                            <tr>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <a type="button" href="#" class="btn btn-sm btn-danger distinguish">Снять</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        {% endif %}
                        <tr>
                            {% if forloop.counter0 in m %}

                                <td rowspan="{{ d|get_value_by_key:forloop.counter0 }}" class="rowspan text-center">
                                    {% if x.del_siz.form.instance.profession %}
                                        {{ x.del_siz.form.instance.profession }}
                                    {% elif x.del_siz.form.instance.position %}
                                        {{ x.del_siz.form.instance.position }}
                                    {% endif %}

                                </td>
                            {% endif %}


                            <td>{{ x.del_siz.form.instance.name_thing }}</td>
                            <td class="text-center">{{ x.del_siz }}</td>
                            <td>{{ x.del_siz.form.instance.condition }}</td>
                            <td class="text-center">{{ x.del_siz.form.instance.marking }}</td>
                            <td class="text-center">{{ x.del_siz.form.instance.time_wearing }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </small>
        <div class="form-group">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>

        $('.distinguish').on('click', function () {
            var this_button = $(this);
            if (!this_button.attr('checked')) {
                this_button.attr('checked', 'true');
                this_button.text('Выделить');

            }else{
                this_button.text('Снять');
                this_button.removeAttr('checked')
            }

            var num_row = this_button.parent().parent().next().children('.rowspan').attr('rowspan');
            var need_tr =  this_button.parent().parent().nextAll('tr').slice(0, +num_row);

            for (i = 0; i < need_tr.length; i++) {
                if (this_button.attr('checked')){
                $(need_tr[i]).find('input').removeAttr('checked')
                }
                else {
                    $(need_tr[i]).find('input').prop('checked', 'true')
                }
            } return false
        });
  </script>
{% endblock %}