{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-3"><div>Должность(профессия): <strong>{{ work }}</strong></div></div>
    <div class="col-md-6">

        <form role="form" action="." method="post">{% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for f in form %}
                {{ f.id }}
                <div class="inline {{ form.prefix }}">

                    <div class="form-group">
                        {{ f.name_thing.errors }}
                        {{ f.name_thing.label_tag }}
                        {{ f.name_thing }}
                    </div>

                    <div class="form-group">
                        {{ f.condition.errors }}
                        {{ f.condition.label_tag }}
                        {{ f.condition }}
                    </div>

                    <div class="form-group">
                        {{ f.marking.errors }}
                        {{ f.marking.label_tag }}
                        {{ f.marking }}
                    </div>

                    <div class="form-group">
                        {{ f.time_wearing.errors }}
                        {{ f.time_wearing.label_tag }}
                        {{ f.time_wearing }}
                    </div>

                    {{ f.DELETE }}
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>

{% endblock %}
