{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}

    <form method="post" action="." method="post">
        {% csrf_token %}
        <h5>Отметьте вопросы документа <a href="{{ form.redirect_url.value }}">{{ document }},</a> которые необходимо
            ислючить:</h5>
        {{ form.non_field_errors }}
        {{ form.redirect_url.errors }}
        {{ form.redirect_url }}
        {{ form.work_field_exclude.errors }}
        {{ form.work_field_exclude }}
        <hr>
        <input type="submit" value="Отправить" class="submit btn btn-primary btn-sm"/>
    </form>
{% endblock %}
