{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form method="post" class="form" role="form" action=".">{% csrf_token %}
            {{ form.as_p  }}
            <input type="submit" class="btn btn-sm btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
