{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form method="post" class="form" role="form" action=".">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-sm btn-primary" value="Сформировать документы ПТМ">
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'fire_safety/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'fire_safety/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "fire_safety/add.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}