{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form method="post" class="form" role="form" action=".">{% csrf_token %}
            <div class="form-group">
                <label>Организационна правовая форма собственности(например:Открытое акционерное общество)</label>
                {{ form.ownership.errors }}
                {{ form.ownership }}
            </div>
            <div class="form-group">
                <label>Полное наименование юридического лица(например:"Современные бетонные конструкции")</label>
                {{ form.full_title.errors }}
                {{ form.full_title }}
            </div>
            <div class="form-group">
                <label>Сокращённое наименование юридического лица(например:"СБК")</label>
                {{ form.short_title.errors }}
                {{ form.short_title }}
            </div>
            <input type="submit" class="btn btn-sm btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/add.js" %}"></script>
{% endblock %}