{% extends "base.html" %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}

    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ptm:generic_ptm' request.user.genericinfocompany.pk %}" role="button"
               class="btn btn-lg btn-primary">
                Общая информация
            </a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ptm:boss_ptm' request.user.pk %}" role="button"
               class="btn btn-lg btn-primary">
                Указать директора</a>
        </div>
    </div>


    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ptm:kind_ptm' %}" role="button"
               class="btn btn-lg btn-primary">
                Указать вид ПТМ для работника</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 60px">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="{% url 'ptm:create_ptm' %}" role="button"
               class="btn btn-lg btn-primary">
                Сформировать талоны ПТМ</a>
        </div>
    </div>

{% endblock %}