{% extends 'base.html' %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block content %}

    <div class="col-md-offset-2 col-md-8">

        <form method="post" role="form" action=".">{% csrf_token %}
            {{ prof_formset.management_form }}
            {{ prof_formset.non_form_errors }}
            {% for form in prof_formset %}
                {{ form.id }}
                <ul>
                    <em>{{ form.ptm.help_text }}</em>
                    <h1>{{ form.ptm.errors }}</h1>
                    <li>{{ form.ptm }}</li>
                </ul>
            {% endfor %}
            {{ pos_formset.management_form }}
            {{ pos_formset.non_form_errors }}
            {% for form in pos_formset %}
                {{ form.id }}
                <ul>
                    <em>{{ form.ptm.help_text }}</em>
                    <h1>{{ form.ptm.errors }}</h1>
                    <li>{{ form.ptm }}</li>
                </ul>
            {% endfor %}

            <input type="submit" class="btn btn-sm btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
