{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}


{% block content %}
    <style>
        .panel-heading {
            padding: 3px 15px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .panel-group {
            margin-bottom: 1px;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <form method="post" role="form" action="."
                  method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
                </div>
            </form>
            <div class="panel-group" id="activity_section">
                {% for x in sections %}
                    {% if not x.subsection %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#activity_section"
                                       href="#collapse{{ x.section_url }}">
                                        {{ x.section }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ x.section_url }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for activity in kind_activity %}
                                        {% if x.section == activity.section %}
                                            {{ activity }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#activity_section"
                                       href="#collapse{{ x.section_url }}">
                                        {{ x.section }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ x.section_url }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for subsection in subsections %}
                                        {% if subsection.section_url == x.section_url %}
                                            <div class="panel-group" id="{{ subsection.subsection_url }}">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                               data-parent="#{{ subsection.subsection_url }}"
                                                               href="#collapse{{ subsection.subsection_url }}">
                                                                {{ subsection.subsection }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse{{ subsection.subsection_url }}"
                                                         class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            {% for activity in kind_activity %}
                                                                {% if subsection.subsection_url == activity.subsection_url %}
                                                                    {{ activity }}<br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
    $(document).ready(function () {
        var select = $('.select-kind-activity');
        select.on('loaded.bs.select', function (e) {
            var size = 130;
            sel = $(this).prev().find('.text');
            for (i = 0; i < sel.length; i++) {
                newsContent = $(sel[i]);
                newsText = newsContent.text();
                if (newsText.length > size) {
                    newsContent.attr("data-toggle", "tooltip");
                    newsContent.attr("data-placement", "left");
                    newsContent.attr("title", newsText);
                    newsContent.text(newsText.slice(0, size) + ' ...');
                }
            }
        });
    });
    </script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}