{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block fire %}
    <h5>Добавляя новые должности вы можете указать для каждой из них в поле("Соответствует должности") такую должность,
    которая по вышему мнению является близкой для вашей или, даже, одним и тем же, только с другим названием(Допустим вам нужен
        <strong>врач-хирург</strong> , а у нас в списке есть только <strong>врач-специалист</strong>, соответсвенно
        вы добавляя <strong>врач-хирург,</strong> можете, указать для него соответствующую должность - <strong>врач-специалист</strong>,
        это поможет нам точнее сформировать документы для этой должности), если вы не нашли ничего подходящего, то
        оставьте поле незаполненным</h5>
    <div class="col-md-12">
        <form method="post" role="form" action="."
              method="post">{% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for f in form %}
                {{ f.id }}
                <div class="inline {{ form.prefix }}">


                    {{ f.position_code.errors }}
                    <label>Соответствует должности</label>
                    {{ f.position_code }}


                    {{ f.name_post_office_worker.errors }}
                    {{ f.name_post_office_worker.label_tag }}
                    {{ f.name_post_office_worker }}

                    {{ f.categories.errors }}
                    {{ f.categories.label_tag }}
                    {{ f.categories }}

                    {{ f.DELETE }}
                </div>
            {% endfor %}
            <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
                </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}