{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block fire %}
    <p>Добавляя новые профессии вы можете указать для каждой из них в поле("Соответствует профессии") такую профессию,
        которая по вышему мнению является близкой для вашей или, даже, одним и тем же, только с другим
        названием(Допустим вам нужен<strong> монтажник систем вентиляции</strong> , а у нас в списке есть только <strong>монтажник
            систем вентиляции и пневмотранспорта</strong>, соответсвенно вы добавляя <strong>монтажник систем
            вентиляции,</strong> можете, указать для него соответствующую профессию -<strong> монтажник систем вентиляции
            и пневмотранспорта</strong>, это поможет нам точнее сформировать документы для этой профессии), если вы не
        нашли ничего подходящего, то оставьте поле незаполненным</p>
    <div class="col-md-12">
        <form method="post" role="form" action="."
              method="post">{% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for f in form %}
                {{ f.id }}
                <div class="inline {{ form.prefix }}">
                    {{ f.profession_code.errors }}
                    <label>Соответствует профессии</label>
                    {{ f.profession_code }}


                    {{ f.name_working_career.errors }}
                    {{ f.name_working_career.label_tag }}
                    {{ f.name_working_career }}

                    {{ f.ranks.errors }}
                    {{ f.ranks.label_tag }}
                    {{ f.ranks }}

                    {{ f.DELETE }}
                </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}