{% extends 'base.html' %}
{% load static %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-info" role="button">
                Страница подготовки к формирования документов по Пб
            </a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>

{% endblock %}

{% block documents_section %}
{% endblock %}
{% block content %}
    <style>
        input[type="checkbox"] {
            width: 20px; /*Desired width*/
            height: 20px; /*Desired height*/
        }
    </style>
    <h4>Наведите курсор на флажок и вы увидите соответствующие автоматичеси сформированные падежи, если они верны отметьте,
    если нет нажмите кнопку исправить и введите правильные формы слова(В выпадаемом списке падежей фамилии людей должны быть с загловной буквы,
        название проф./долж. со строчной, размер букв в падежах фирмы должен быть таким же как в тексте). Необходимо отметить
    все слова иначе вы не сможете сформировать документы
    </h4>
    <div class="row">
    <p class="text-center"><button id="filling_all" class="btn btn-danger">Выделить все</button></p>
        <form method="post" role="form" action=".">{% csrf_token %}
            {{ form.management_form }}
            {% for f in form %}
                {{ f.id }}
                <label>{{ f.checked.errors }}</label>
                <div class="form-group" style="padding-bottom: 12px">
                    <div>
                        <div class="col-md-6">
                            {{ f.nomn.help_text }}

                        </div>
                        <div class="col-md-1">

                            <span data-toggle="tooltip" class="span_input_case" data-placement="bottom"
                                  title="
{{ f.nomn.value }}
{{ f.gent.value }}
{{ f.datv.value }}
{{ f.accs.value }}
{{ f.ablt.value }}
{{ f.loct.value }}">
                    {{ f.checked }}
                    </span>
                        </div>
                        <div class="col-md-5">
                            <a role="button" class="btn btn-xs btn-primary fix_case"> Исправить</a>

                            <a role="button" class="btn btn-xs btn-success fixed_case" style="display: none">
                                Исправлено</a>
                        </div>
                    </div>
                    {{ f.nomn.errors }}
                    {{ f.nomn }}
                    {{ f.gent.errors }}
                    {{ f.gent }}
                    {{ f.datv.errors }}
                    {{ f.datv }}
                    {{ f.accs.errors }}
                    {{ f.accs }}
                    {{ f.ablt.errors }}
                    {{ f.ablt }}
                    {{ f.loct.errors }}
                    {{ f.loct }}

                </div>
            {% endfor %}
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Отправить">
            </div>

        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">$('.popover_cases').popover()</script>
    <script type="text/javascript">

        $('.fix_case').on('click', function () {
            var href = $(this);
            var inputs = href.parentsUntil('.form-group').nextAll('input');
            $(this).next('a').show();
            inputs.each(function (indx, element) {
                $(element).removeAttr('type');
            });
        });
        $('.fixed_case').on('click', function () {
            var href = $(this);
            var inputs = href.parentsUntil('.form-group').nextAll('input');
            inputs.each(function (indx, element) {
                $(element).attr({'type': 'hidden'});
            });
            href.parent().prev().find('input').attr({"checked": "checked"});
            href.hide();
        });
        $('#filling_all').on('click', function () {
            $('input[type=checkbox]').each(function(indx, element) {
                $(element).prop('checked', 'true')
            })
        });
    </script>
{% endblock %}