{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block fire %}
    <div class="col-md-12">
        <form method="post" class="form" role="form" action=".">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
        </form>
    </div>
{% endblock %}