<style>
    .ui-autocomplete {
        max-height: 300px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
    }
</style>
<div class="row">
    <div class="col-md-12" style="padding-top: 50px; padding-bottom: 50px">
        <div class="panel panel-danger">
            <div class="panel-heading">Перед тем как вы будете загружать штатное расписание</div>
            <div class="panel-body">
                <h3>Проверьте все должности и профессии, которые вы указали в вашем штатном расписании.</h3>
            </div>
        </div>
        <div id="prof_pos">
            <div class="form-group">
                <label>Введите название должности для проверки на соответствие ОКРБ</label>
                <input id="position" class="form-control" name="position">
            </div>
            <div class="form-group">
                <label>Введите название профессии для проверки на соответствие ОКРБ</label>
                <input id="profession" class="form-control" name="profession">
            </div>
        </div>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                data-target="#notProfessionPosition">
            В списке нет должности/профессии которую я указал в штатном расписании
        </button>

    </div>
</div>