{% extends 'base.html' %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Придумайте логин и пароль для вашей фирмы(компании)</h2>
    </div>

    <div class="col-md-offset-4 col-md-4">
        <form role="form" method="post" action="{% url 'company:add' %}">{% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
            <input type="submit" class="btn btn-success btn-sm" value="Готово">
                </div>
        </form>
    </div>
{% endblock %}
