{% extends 'base.html' %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-offset-2 col-md-8">

    </div>
    <div class="col-md-offset-4 col-md-4">

        <form method="post" role="form" action=".">{% csrf_token %}

            <input class="btn btn-lg btn-primary" type="submit" value="Удалить">
        </form>
    </div>
{% endblock %}
