{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <style>
        .dropdown-menu {
            right: 0;
            left: auto;
        }
    </style>
    <div class="col-md-12">
        <a type="button" role="button" class="btn btn-primary"
           href="{% url 'company:staff_detail' request.user.pk %}">Назад</a>

        <form role="form" class="form-inline" method="post" action=".">{% csrf_token %}
            <table class="table  table-striped table-condensed">
                <thead>
                <tr>
                    <th  class="text-center">№</th>
                    <th class="text-center">Должность(профессия)</th>
                    <th class="text-center">Сотрудники</th>
                    <th class="text-center">Приложение 1 <br>
                        <small><em>Факторы производственной среды, показатели тяжести и
                            напряженности трудового процесса, при работе с которыми обязательны предварительные,
                            периодические и внеочередные медосмотры</em></small>
                    </th>
                    <th class="text-center">Приложение 2 <br>
                        <small><em>Работы, для выполнения которых обязательны предварительные,
                            периодические и внеочередные медосмотры</em></small>
                    </th>
                    <th class="text-center">Приложение 3 <br>
                        <small><em>Заболевания (синдромы), являющиеся общими противопоказаниями к
                            работе с вредными и (или) опасными условиями труда</em></small>
                    </th>
                </tr>
                </thead>
                {{ form.management_form }}
                {% for f in form %}
                    {{ f.id }}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ f.initial.label }}

                        </td>
                        <td>
                            {% for person in f.initial.staff %}{{ person }} {% endfor %}
                        </td>
                        <td style="vertical-align: bottom">
                            {{ f.attachment1 }}
                        </td>
                        <td style="vertical-align: bottom">
                            {{ f.attachment2 }}
                        </td>
                        <td style="vertical-align: bottom">
                            {{ f.attachment3 }}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static 'fire_safety/add.js' %}"></script>
    <script>
        $(document).ready(function () {
            var select = $('.attachment');
            select.selectpicker({
                'actionsBox': 'true',
                'deselectAllText': 'Снять все выделения',
                'selectAllText': 'Выделить все',
                'liveSearch': true,
                'liveSearchPlaceholder': null,
                'liveSearchStyle': 'contains',
                'dropupAuto': false
            }).on('loaded.bs.select', function (e) {
                var size = 90;
                sel = $(this).prev().find('.text');
                for (i = 0; i < sel.length; i++) {
                    newsContent = $(sel[i]);
                    newsText = newsContent.text();
                    if (newsText.length > size) {
                        newsContent.attr("data-toggle", "tooltip");
                        newsContent.attr("data-placement", "left");
                        newsContent.attr("title", newsText);
                        newsContent.text(newsText.slice(0, size) + ' ...');
                    }
                }
            });
        });
    </script>
{% endblock %}