{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ПБ
            </a>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form method="post" class="form" role="form" action=".">{% csrf_token %}
            <div class="form-group">
                <label>Организационна правовая форма собственности(например:Открытое акционерное общество)</label>
                {{ form.ownership.errors }}
                {{ form.ownership }}
            </div>
            <div class="form-group">
                <label>Сокращённая организационна правовая форма собственности(например:OOO)</label>
                {{ form.short_ownership.errors }}
                {{ form.short_ownership }}
            </div>
            <div class="form-group">
                <label>
                    Полное наименование юридического лица(например:"Современные бетонные конструкции")
                </label><em>не забываем кавычки</em>
                {{ form.full_title.errors }}
                {{ form.full_title }}
            </div>
            <div class="form-group">
                <label>Сокращённое наименование юридического лица(например:"СБК")</label>
                <em>не забываем кавычки. Название фирмы в документах складывается из сокращенной орг. правовой формы и этого поля</em>
                {{ form.short_title.errors }}
                {{ form.short_title }}
            </div>
            <div class="form-group">
                <label>Дата регистрации юридического лица</label><em>данные только для ОТ</em>
                {{ form.date_registration.errors }}
                {{ form.date_registration }}
            </div>
            <div class="form-group">
                <label>Характеристика предприятия</label><em>данные только для ОТ</em>
                {{ form.characteristic.errors }}
                {{ form.characteristic }}
            </div>
            <div class="form-group">
                <label>Ведомственная подчиненность</label><em>данные только для ОТ</em>
                {{ form.subordination.errors }}
                {{ form.subordination }}
            </div>
            <div class="form-group">
                <label>Место регистрации юридического лица</label><em>данные не используются</em>
                {{ form.place_registrations.errors }}
                {{ form.place_registrations }}
            </div>
            <h3 class="text-center">Место размещения юридического лица (юридический адрес)</h3>

            <div class="form-group">
                <label>Конкретный населенный пункт, конкретный адрес</label><em>данные только для ОТ(док 04-2 Программа вводного инструктажа по ОТ,ПБ, электробезопасности)</em>
                {{ form.address.errors }}
                {{ form.address }}
            </div>
            <div class="form-group">
                <label>УНП</label><em>данные не используются</em>
                {{ form.ynp.erros }}
                {{ form.ynp }}
            </div>
            <div class="form-group">
                <label>ОКПО</label><em>данные не используются</em>
                {{ form.okpo.erros }}
                {{ form.okpo }}
            </div>
            <div class="form-group">
                <label>Банковские реквизиты:</label><em>данные не используются</em>
                {{ form.bank_details.erros }}
                {{ form.bank_details }}
            </div>
            <div class="form-group">
                <label>Почтовый адрес если он не совподает с юридическим</label><em>данные не используются</em>
                {{ form.mailing_address.erros }}
                {{ form.mailing_address }}
            </div>
            <div class="form-group">
                <label>Факс</label><em>данные не используются</em>
                {{ form.fax.errors }}
                {{ form.fax }}
            </div>
            <div class="form-group">
                <label>Электронная почта</label><em>данные не используются</em>
                {{ form.mail.erros }}
                {{ form.mail }}
            </div>
            <div class="form-group">
                <label>Контактные телефоны</label><em>данные не используются</em>
                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                {% for form in formset %}
                    {{ form.id }}
                    <div class="form-group inline {{ formset.prefix }}">
                        {{ form.telephone.errors }}
                        {{ form.telephone }}
                        {{ form.DELETE }}
                    </div>
                {% endfor %}
            </div>
            <h3 class="text-center">В организации на балансе числится, имеется в аренде или имеется в хозяйственом
                ведении</h3>

            <div class="form-group">
                <label>Здания</label><em>данные не используются</em>
                {{ form.buildings }}
            </div>
            <div class="form-group">
                <label>Сооружения</label><em>данные не используются</em>
                {{ form.constructions }}
            </div>
            <div class="form-group">
                <label>Помещения</label><em>данные не используются</em>
                {{ form.premises }}
            </div>
            <div class="form-group">
                <label>Транспортные средства</label><em>данные только для ОТ</em>
                {{ form.means_transport }}
            </div>
            <h3 class="text-center">Инженерные сети и оборудование</h3>

            <div class="form-group">
                <label>Наружные инженерные сети</label><em>данные только для ОТ</em>
                {{ form.external_engineering_networks }}
            </div>
            <div class="form-group">
                <label>Внутренние инженерные сети</label><em>данные только для ОТ</em>
                {{ form.internal_engineering_networks }}
            </div>
            <div class="form-group">
                <label>Оборудование</label><em>данные только для ОТ</em>
                {{ form.equipment }}
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary btn-lg submit"/>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/add.js" %}"></script>
{% endblock %}