{% extends 'base.html' %}

{% block documents_section %}
{% endblock %}
{% block about_company %}
        <div class="row">
        <div class="col-md-4">
            <a class="btn btn-default" type="button" href="{% url 'company:generic_info_update' object.id %}">Изменить
            данные Фирмы</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-info" role="button">
                Инструкция по ПБ
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-info" role="button">
                Инструкция по ОТ
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <style>hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;

        border-style: solid none;

        margin: 10px 0;
    }

    ul {
        list-style-type: disc;
    }
    </style>
    <div class="col-md-12">


        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Организационна правовая форма собственности</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.ownership }}</h4></div>
        </div>
        <hr>
        <div class="row">
            {% include 'company/short_title_case.html' with data=object %}
            <div class="col-md-5 col-md-offset-1"><h4>Сокращенная организационна правовая форма собственности</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.short_ownership }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Характеристика предприятия</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.characteristic }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Ведомственная подчиненность</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.subordination }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Полное наименование юридического лица</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.full_title }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Сокращённое наименование юридического лица</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.short_title }}</h4></div>
        </div>
        <hr>

        <h2>Место размещения юридического лица (юридический адрес)</h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Место регистрации юридического лица</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.place_registrations }}</h4></div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Юридический адрес</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.address }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>УНП ОКПО</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.ynp_okpo }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Банковские реквизиты</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.bank_details }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Почтовый адрес если он не совподает с юридическим</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.mailing_address }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Факс</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.fax }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Электронная почта</h4></div>
            <div class="col-md-5 col-md-offset-1"><h4>{{ object.mail }}</h4></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4>Контактные телефоны</h4></div>
            <div class="col-md-5 col-md-offset-1">
                <ul>{% for x in object.telephonenumber_set.all %}
                    <li>{{ x.telephone }}</li>{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <h3 >В организации на балансе числится, имеется в аренде или имеется в хозяйственом
            ведении</h3>

        <div class="row">
            <div class="col-md-2 col-md-offset-1"><h3>Здания</h3></div>
            <div class="col-md-9">
                <ul>{% for x in buildings %}{% if x.0 in object.buildings %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-md-offset-1"><h3>Сооружения</h3></div>
            <div class="col-md-9">
                <ul>{% for x in constructions %}{% if x.0 in object.constructions %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-md-offset-1"><h4>Помещения</h4></div>
            <div class="col-md-9">
                <ul>{% for x in premises %}{% if x.0 in object.premises %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-md-offset-1"><h4>Транспортные средства</h4></div>
            <div class="col-md-9">
                <ul>{% for x in means_transport %}{% if x.0 in object.means_transport %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <h2 class="text-center">Инженерные сети и оборудование</h2>

        <div class="row">
            <div class="col-md-3 col-md-offset-1"><h4>Наружные инженерные сети</h4></div>
            <div class="col-md-8">
                <ul>{% for x in een %}{% if x.0 in object.external_engineering_networks %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 col-md-offset-1"><h4>Внутренние инженерные сети</h4></div>
            <div class="col-md-8">
                <ul>{% for x in ien %}{% if x.0 in object.internal_engineering_networks %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 col-md-offset-1"><h4>Оборудование</h4></div>
            <div class="col-md-8">
                <ul>{% for x in equipment %}{% if x.0 in object.equipment %}
                    <li>{{ x.1 }}</li>{% endif %}{% endfor %}</ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">$('.popover_cases').popover()</script>
{% endblock %}