{% extends 'base.html' %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <ul class="list-group">
            {% for company, info in company_generic_info %}
                <li class="list-group-item list-group-item-success">
                {% if current_info_id == info.id or not request.user.is_authenticated %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'company:generic_info_detail' info.id %}">
                    {% else %}
                        <a href="{% url 'company:login' %}?login={{ company }}">
                    {% endif %}
                        <h5>Логин:<strong>{{ company }}</strong>, Короткое название:{{ info.short_title }}</h5>
                    </a>
                {% else %}
                    <h5>Логин:<strong>{{ company }}</strong>, Короткое название:{{ info.short_title }}</h5>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}