{% extends 'base.html' %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Ведите ваш логин и пароль чтобы войти в систему</h2>
    </div>
    <div class="col-md-offset-4 col-md-4">

        <form method="post" role="form" action="{% url 'company:login' %}">{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label>Логин</label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form-group">
                <label >Пароль</label>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
            <input class="btn btn-lg btn-primary" type="submit" value="Войти">
        </form>
    </div>
{% endblock %}
