{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-push-2 col-md-8">
        <form role="form" method="post" action=".">{% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}

