{% if data %}
    {% load keyvalue %}
<span class="glyphicon glyphicon-zoom-in" data-toggle="tooltip" data-placement="right"
      title="
{{ cases|kv:data|kv:'nomn' }}
{{ cases|kv:data|kv:'gent' }}
{{ cases|kv:data|kv:'datv' }}
{{ cases|kv:data|kv:'accs' }}
{{ cases|kv:data|kv:'ablt' }}
{{ cases|kv:data|kv:'loct' }}


"></span>

<a href="{% url 'company:change_cases' data %}">
    <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="right"></span>
</a>
{% endif %}