{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-info" role="button">
                Страница подготовки к формирования документов по ПБ
            </a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <style> .popover {
        font-size: 12px;
    }</style>

    <div class="col-md-12">
        <form role="form" method="post" action=".">{% csrf_token %}
            {{ form.management_form }}
            {% for f in form %}
                {{ f.id }}
                <ul>
                    <label>
                        <small>
                            {% for x in question_text %}
                                {% if x.0 == f.id.value %}
                                    {{ x.1 }}
                                {% endif %}
                            {% endfor %}
                            {% if f.answer.help_text %}
                                <button type="button" class="btn btn-info btn-xs example" data-container="body"
                                        data-toggle="popover"
                                        data-placement="right"
                                        data-content="{{ f.answer.help_text }}">
                                    Подсказка
                                </button>
                            {% endif %}
                        </small>
                    </label>
                    <li>{{ f.question }}</li>
                    <li>{{ f.answer }}</li>
                </ul>
            {% endfor %}
            <ul>
                <li><input type="submit" class="btn btn-primary" value="Отправить"></li>
            </ul>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var select = $('.selectpicker_question');
            select.selectpicker({
                'actionsBox': 'true',
                'deselectAllText': 'Снять все выделения',
                'selectAllText': 'Выделить все',
                'liveSearch': true,
                'liveSearchPlaceholder': null,
                'liveSearchStyle': 'contains',
                'dropupAuto': false
            }).on('loaded.bs.select', function (e) {
                var size = 130;
                sel = $(this).prev().find('.text');
                for (i = 0; i < sel.length; i++) {
                    newsContent = $(sel[i]);
                    newsText = newsContent.text();
                    if (newsText.length > size) {
                        newsContent.attr("data-toggle", "tooltip");
                        newsContent.attr("data-placement", "left");
                        newsContent.attr("title", newsText);
                        newsContent.text(newsText.slice(0, size) + ' ...');
                    }
                }
            });
        });
    </script>
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            {% for f in form %}
                    $('.selectpicker_question').eq(
                            {{ forloop.counter0 }}).selectpicker('val', '{{ f.instance.answer }}'.split(' ')
                    );
            {% endfor %}
        });
    </script>
{% endblock %}