<span class="glyphicon glyphicon-zoom-in" data-toggle="tooltip" data-placement="right"
      title="
{{ data.short_title_case.nomn }}
{{ data.short_title_case.gent }}
{{ data.short_title_case.datv }}
{{ data.short_title_case.accs }}
{{ data.short_title_case.ablt }}
{{ data.short_title_case.loct }}
"></span>
{% url 'company:change_cases' data.short_title_case.id as url %}
<a href="{{ url }}">
    <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="right"></span>
</a>