{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-10">
    <a type="button" role="button" class="btn btn-primary"
               href="{% url 'company:staff_detail' request.user.pk %}">Назад</a>
        <form role="form" method="post" action=".">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}

