{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block fire %}
    <style>
        .ui-autocomplete {
            max-height: 400px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index: 1000 !important;
        }
    </style>
    <p>Если вы не смогли выбрать подходящую для вас должность(должности) из нашего списка
        (допустим вы не нашли "оператор ЭВМ") вы можете <a href="{% url 'company:add_position' request.user.pk %}">добавить свою должность(должности)</a>  к нашему списку.
    </p>
    <div class="col-md-12">
        <form method="post" role="form" action=".">{% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for f in form %}
                {{ f.id }}
                <div class="inline {{ form.prefix }}">

                    {{ f.employee_position.errors }}
                    {{ f.employee_position }}

                    {{ f.position_visible_in_form.errors }}
                    {{ f.position_visible_in_form }}

                    {{ f.category.errors }}
                    {{ f.category.label_tag }}
                    {{ f.category }}

                    {{ f.derivative_position.errors }}
                    {{ f.derivative_position.label_tag }}
                    {{ f.derivative_position }}

                    {{ f.DELETE }}
                </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/autocomplete.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}