{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block fire %}
    <style>
        .ui-autocomplete {
            max-height: 400px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index: 1000 !important;
        }
    </style>
    <p>Если вы не смогли выбрать подходящую для вас профессию(профессии) из нашего списка
        (допустим вы не нашли "монтажник систем очистки воды") вы можете
        <a href="{% url 'company:add_profession' request.user.pk %}">добавить свою профессию(профессии)</a>
        к нашему списку.
    </p>
    <div class="col-md-12">
        <form method="post" role="form" action="."
              method="post">{% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for f in form %}
                {{ f.id }}
                <div class="inline {{ form.prefix }}">

                    {{ f.work_profession }}

                    {{ f.profession_visible_in_form.errors }}
                    {{ f.profession_visible_in_form.label_tag }}
                    {{ f.profession_visible_in_form }}

                    {{ f.rank.errors }}
                    {{ f.rank.label_tag }}
                    {{ f.rank }}

                    {{ f.DELETE }}
                </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary btn-sm submit"/>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static "fire_safety/autocomplete.js" %}"></script>
{% endblock %}