{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form role="form" class="form-inline" method="post" action=".">{% csrf_token %}
            <table class="table table-bordered table-condensed table-striped">
                <thead >
                <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">Должность(профессия)</th>
                    <th class="text-center">Подразделение</th>
                    <th class="text-center">Дата приема на работу</th>
                    <th data-defaultsort='disabled' class="text-center">Опасный инструктаж</th>
                    <th class="text-center">Дата выдачи мед. справки</th>
                    <th class="text-center">Номер мед. справки</th>
                    <th class="text-center">Номер свидетельства</th>
                    <th class="text-center">Дата выдачи свидетельства</th>
                    <th class="text-center">Стаж работы(лет)</th>
                </tr>
                </thead>
                {{ form.management_form }}
                {% for f in form %}
                    {{ f.id }}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <strong>{{ f.instance.derivative_position }}
                            {{ f.instance.employee_position }}{{ f.instance.category }}</strong><br>
                            ({{ f.instance.staff }} id={{ f.instance.staff.id }})
                        </td>
                        <td>
                            {{ f.subdivision }}
                        </td>
                        <td align="center">
                            {{ f.date_recruitment }}
                        </td>
                        <td align="center">
                            {{ f.frequency_instruction_three_month }}
                        </td>
                        <td align="center">
                            {{ f.date_issue_medical_certificate }}
                        </td>
                        <td align="center">
                            {{ f.medical_certificate_number }}
                        </td>
                        <td align="center">
                            {{ f.number_certificate_prof_development }}
                        </td>
                        <td align="center">
                            {{ f.date_issue_certificate_prof_development }}
                        </td>
                        <td align="center">
                            {{ f.work_experience }}
                        </td>
                    </tr>
                {% endfor %}
                {{ second_form.management_form }}
                {% with len_form=form|length %}
                {% for f in second_form %}
                    {{ f.id }}
                    <tr>
                        <td>
                            {{ forloop.counter|add:len_form }}
                        </td>
                        <td>
                            <strong>{{ f.instance.work_profession }}{{ f.instance.rank }}</strong>
                            <br>({{ f.instance.staff }} id={{ f.instance.staff.id }})
                        </td>
                        <td align="center">
                            {{ f.subdivision }}
                        </td>
                        <td align="center">
                            {{ f.date_recruitment }}
                        </td>
                        <td align="center">
                            {{ f.frequency_instruction_three_month }}
                        </td>
                        <td align="center">
                            {{ f.date_issue_medical_certificate }}
                        </td>
                        <td align="center">
                            {{ f.medical_certificate_number }}
                        </td>
                        <td align="center">
                            {{ f.number_certificate_prof_development }}
                        </td>
                        <td align="center">
                            {{ f.date_issue_certificate_prof_development }}
                        </td>
                        <td align="center">
                            {{ f.work_experience }}
                        </td>
                    </tr>
                {% endfor %}
                {% endwith %}
            </table>


            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'fire_safety/add.js' %}"></script>
{% endblock %}