{% extends 'base.html' %}
{% load static keyvalue %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
        {% endfor %}
    </ul>

{% endif %}

    <div class="panel panel-info">
        <div class="panel-heading"><strong>Редактировать сотрудников</strong></div>
        <div class="panel-body">
            Если вы не нашли в таблице сотрудника, которого указали в штатном расписании или просто хотите добавить
            еще одного человека или изменить ФИО одного из сотрудников это
            <a href="{% url 'company:staff_detail' request.user.pk %}">здесь</a>
        </div>
    </div>
    <div  class="row" >
        <div class="col-md-3">
            <a href="{% url 'fire:instructions' %}" class="btn btn-xs btn-info" role="button">
                Страница подготовки к формирования <br>документов по ПБ
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-xs btn-primary" role="button">
                Страница подготовки к формирования<br> документов по ОТ
            </a>
        </div>
    <div class="col-md-3">
            <a class="btn btn-xs btn-success" href="{% url "company:staff_pos_prof" %}" role="button">
                Редактировать данные о <br>должностях(профессиях)
            </a>
            </div>
        <div class="col-md-3">
            <a class="btn btn-xs btn-success" href="{% url "company:factors_production" %}" role="button">
                Факторы опасности <br>должностей(профессий)
            </a>
        </div>
    </div>
    <div class="row">

    </div>

{% endblock %}
{% block content %}
    <link href="{% static 'bootstrap_sortable/Contents/bootstrap-sortable.css' %}" rel="stylesheet">
    <div class="col-md-12">
    <h2 class="text-center">Таблица информации о должностях и профессиях сотрудников</h2>
        <table id="prof_pos_tabl" class="table table-striped table-bordered sortable">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">№</th>
                <th data-firstsort="АЯ" rowspan="2" class="text-center">ФИО</th>
                <td class="text-center" colspan="2">Профессия</td>
                <td class="text-center" colspan="2">Должность</td>
            </tr>

        <tr>

            <th class="text-center">Наименование</th>
            <th data-defaultsort='disabled' class="text-center">Редактировать</th>
            <th class="text-center">Наименование</th>
            <th data-defaultsort='disabled' class="text-center">Редактировать</th>
        </tr>
        </thead>
            {% for staff_id, pos_prof in staff_pos_prof.items %}
                {% with prof_count=pos_prof.prof|length pos_count=pos_prof.pos|length %}
                    {% if prof_count < 2 and pos_count < 2 %}
                        <tr>
                            <td rowspan="1">{{ forloop.counter }}</td>
                            <td rowspan="1">
                                {% include 'company/person_cases.html' with data=staff|kv:staff_id|kv:'case_id' %}
                                {{ staff|kv:staff_id|kv:'surname' }} {{ staff|kv:staff_id|kv:'initials' }}
                            </td>
                            {% if prof_count == 0 %}
                                <td></td>
                                <td class="text-center {% if pos_count == 0 and prof_count == 0 %}danger{% endif %}"><a
                                        class="btn btn-primary btn-xs"
                                        href="{% url "company:employee_profession" staff_id %}"
                                        role="button">Указать</a></td>
                            {% else %}
                                {% for x in pos_prof|kv:'prof' %}
                                    <td>
                                        {% include 'company/person_cases.html' with data=all_staff_professions|kv:x|kv:'case_id' %} {{ staff_profession_text|kv:x }}
                                    </td>
                                    <td class="text-center" rowspan="{{ prof_count }}"><a class="btn btn-primary btn-xs"
                                                                                          href="{% url "company:employee_profession" staff_id %}"
                                                                                          role="button">Изменить</a>
                                    </td>
                                {% endfor %}
                            {% endif %}
                            {% if pos_count == 0 %}
                                <td></td>
                                <td class="text-center {% if pos_count == 0 and prof_count == 0 %}danger{% endif %}"><a
                                        class="btn btn-primary btn-xs"
                                        href="{% url "company:employee_position" staff_id %}"
                                        role="button">Указать</a></td>
                            {% else %}
                                {% for x in  pos_prof|kv:'pos' %}
                                    <td>
                                        {% include 'company/person_cases.html' with data=all_staff_positions|kv:x|kv:'case_id' %}
                                        {{ staff_position_text|kv:x }}
                                    </td>
                                    <td class="text-center" rowspan="{{ pos_count }}"><a class="btn btn-primary btn-xs"
                                                                                          href="{% url "company:employee_position" staff_id %}"
                                                                                          role="button">Изменить</a>
                                    </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% elif prof_count > pos_count and prof_count > 1 %}
                        {% for x in pos_prof|kv:'prof' %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                    <td rowspan="{{ prof_count }}">{{ forloop.parentloop.counter }}</td>
                                    <td rowspan="{{ prof_count }}">
                                    {% include 'company/person_cases.html' with data=staff|kv:staff_id|kv:'case_id' %}
                                        {{ staff|kv:staff_id|kv:'surname' }} {{ staff|kv:staff_id|kv:'initials' }}
                                    </td>
                                {% endif %}
                                <td>
                                    {% include 'company/person_cases.html' with data=all_staff_professions|kv:x|kv:'case_id' %}
                                    {{ staff_profession_text|kv:x }}
                                </td>
                                {% if forloop.counter == 1 %}
                                    <td class="text-center" rowspan="{{ prof_count }}"><a class="btn btn-primary btn-xs"
                                                                                          href="{% url "company:employee_profession" staff_id %}"
                                                                                          role="button">Изменить</a>
                                    </td>
                                {% endif %}
                                {% if pos_count == 0 %}
                                    <td></td>
                                    {% if forloop.counter == 1 %}
                                        <td class="text-center" rowspan="{{ prof_count }}"><a
                                                class="btn btn-primary btn-xs"
                                                href="{% url "company:employee_position" staff_id %}"
                                                role="button">Указать</a>
                                        </td>

                                    {% endif %}
                                {% else %}
                                    {% for x in  pos_prof|kv:'pos' %}
                                        {% if forloop.parentloop.counter == forloop.counter %}
                                            <td>
                                                {% include 'company/person_cases.html' with data=all_staff_positions|kv:x|kv:'case_id' %}
                                                {{ staff_position_text|kv:x }}
                                            </td>
                                            <td class="text-center"><a class="btn btn-primary btn-xs"
                                                                       href="{% url "company:employee_position" staff_id %}"
                                                                       role="button">Изменить</a>
                                            </td>
                                        {% elif forloop.counter == 1 and forloop.parentloop.counter > pos_count %}
                                            <td></td>
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% elif pos_count > prof_count and pos_count > 1 %}
                        {% for x in pos_prof|kv:'pos' %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                    <td rowspan="{{ pos_count }}">{{ forloop.parentloop.counter }}</td>
                                    <td rowspan="{{ pos_count }}">
                                    {% include 'company/person_cases.html' with data=staff|kv:staff_id|kv:'case_id' %}
                                        {{ staff|kv:staff_id|kv:'surname' }} {{ staff|kv:staff_id|kv:'initials' }}
                                    </td>
                                {% endif %}
                                {% if prof_count == 0 %}
                                    <td></td>
                                    {% if forloop.counter == 1 %}
                                        <td class="text-center" rowspan="{{ pos_count }}"><a
                                                class="btn btn-primary btn-xs"
                                                href="{% url "company:employee_profession" staff_id %}"
                                                role="button">Изменить</a>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    {% for x in  pos_prof|kv:'prof' %}
                                        {% if forloop.parentloop.counter == forloop.counter %}
                                            <td class="text-center">
                                                {% include 'company/person_cases.html' with data=all_staff_professions|kv:x|kv:'case_id' %}
                                                {{ staff_profession_text|kv:x }}
                                            </td>
                                            <td class="text-center" rowspan="{{ pos_count }}"><a
                                                    class="btn btn-primary btn-xs"
                                                    href="{% url "company:employee_profession" staff_id %}"
                                                    role="button">Изменить</a>
                                            </td>
                                        {% elif forloop.counter == 1 and forloop.parentloop.counter > prof_count %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <td>
                                    {% include 'company/person_cases.html' with data=all_staff_positions|kv:x|kv:'case_id' %}
                                    {{ staff_position_text|kv:x }}

                                </td>
                                {% if forloop.counter == 1 %}
                                    <td class="text-center" rowspan="{{ pos_count }}"><a class="btn btn-primary btn-xs"
                                                                                         href="{% url "company:employee_position" staff_id %}"
                                                                                         role="button">Изменить</a></td>

                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'bootstrap_sortable/Scripts/bootstrap-sortable.js' %}"></script>
    <script src="{% static 'bootstrap_sortable/Scripts/moment.min.js' %}"></script>
{% endblock %}