{% extends 'base.html' %}
{% load keyvalue %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
    <div class="panel panel-info">
        <div class="panel-heading"><strong>Редактировать должности, профессии сотрудников</strong></div>
        <div class="panel-body">
            Вы считаете что указали всех сотрудников и таблица внизу полностью соответсвует вашему штатному расписанию
            и теперь неплохо бы указать для них соответствующие профессии и должности тогд вам
            <a href="{% url 'company:position_profession' request.user.pk %}">сюда</a>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading"><strong>Сформировать документы</strong></div>
        <div class="panel-body">
            У вас идеальное штатное: указаны все острудники(таблица снизу) и для каждого из них указана
            <a href="{% url 'company:position_profession' request.user.pk %}">соответсвующая должность или профессия.</a>
            Вы хотите преступить к заполнению документов <a href="{% url 'work-safety:instructions'%}">по охране труда</a>
            или <a href="{% url 'fire:instructions'%}">пожарной безопасности</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="col-md-12">
    <a class="btn btn-sm btn-success" href="{% url "company:employee_add" %}" role="button">Добавить еще сотрудника</a>
    <a class="btn btn-sm btn-success" href="{% url "company:staff_surname" request.user.pk %}" role="button">Редактировать сотрудников</a>
    <a class="btn btn-sm btn-success" href="{% url "company:staff_update" %}" role="button">Редактировать данные о сотрудниках</a>
    <h2 class="text-center">Таблица информации о сотрудниках и то как они будут спрягаться в тексте документов</h2>
        <table class="table table-striped table-bordered">

            <tr>
                <td class="text-center col-xs-1" rowspan="2">№</td>
                <td class="text-center col-xs-5" colspan="3"><strong>СОТРУДНИКИ</strong></td>
                <td class="text-center col-xs-6" colspan="2"><strong>ПАДЕЖИ</strong></td>
            </tr>
            <tr>
                <td class="text-center"><strong>Фамилия инициалы</strong></td>
                <td class="text-center"><strong>Редактировать</strong></td>
                <td class="text-center"><strong>Удалить</strong></td>
                <td class="text-center"><strong>Формы слова</strong></td>
                <td class="text-center"><strong>Редактировать</strong></td>
            </tr>
            {% for person in staff %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ person.surname }} {{ person.initials }} (id={{ person.id }})</td>
                    <td class="text-center"><a class="btn btn-primary btn-xs"
                                               href="{% url "company:employee_update" person.pk %}" role="button">Да</a>
                    </td>
                    <td class="text-center"><a class="btn btn-primary btn-xs"
                                               href="{% url "company:employee_delete" person.pk %}" role="button">Да</a>
                    </td>
                    <td class="text-center {% if not person.case_id %}danger{% endif %}">
                        <button type="button" class="btn btn-default popover_cases btn-xs" data-html="true"
                                data-content="{{ cases|kv:person.case_id|kv:'nomn' }}<br>
                                {{ cases|kv:person.case_id|kv:'gent' }}<br>{{ cases|kv:person.case_id|kv:'datv' }}<br>
                                {{ cases|kv:person.case_id|kv:'accs' }}<br>{{ cases|kv:person.case_id|kv:'ablt' }}<br>
                                {{ cases|kv:person.case_id|kv:'loct' }}">
                            {% if person.case_id %}Падежи {{ person.surname }}{% else %}Падежи не указаны{% endif %}
                        </button>

                    </td>
                    <td class="text-center">
                        {% url "company:change_cases" person.case_id as case_url %}
                        <a class="btn btn-primary btn-xs" href="{{ case_url }}"
                           role="button">Изменить</a></td>


                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">$('.popover_cases').popover()</script>
{% endblock %}