{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <a type="button" role="button" class="btn btn-primary"
           href="{% url 'company:staff_detail' request.user.pk %}">Назад</a>

        <form role="form" class="form-inline" method="post" action=".">{% csrf_token %}
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">ФИО</th>
                    <th class="text-center">Пол</th>
                    <th class="text-center">Дата рождения</th>
                    <th class="text-center">Место жительства</th>

                </tr>
                </thead>
                {{ form.management_form }}
                {% for f in form %}
                    {{ f.id }}
                    <tr>
                        <td align="center">
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <strong>{{ f.instance.surname }}
                            {{ f.instance.initials }}</strong>(id={{ f.instance.id }})<br>
{#                            ({{ f.instance.staff }})#}
                        </td>
                        <td align="center">
                            {{ f.sex }}
                        </td>
                        <td align="center">
                            {{ f.date_birthday }}
                        </td>
                        <td align="center">
                            {{ f.place_residence }}
                        </td>

                    </tr>
                {% endfor %}

            </table>


            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'fire_safety/add.js' %}"></script>
{% endblock %}