{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-10">
        <form role="form" method="post" action=".">{% csrf_token %}
            <p>Удалить работника <strong>{{ object }}</strong> из штатного компании?</p>
            {{ form }}
            <a type="button" role="button" class="btn  btn-success"
               href="{% url 'company:staff_detail' request.user.pk %}">Не удалять</a>
            <input type="submit" class="btn btn-primary" value="Удалить">
        </form>
    </div>
{% endblock %}

