{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
{% endblock %}
{% block fire %}
    {% include 'company/check_positions_professions.html' %}
    <div class="row">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Как правильно заполнять exсel документ штатного
                            расписания</h4>
                    </div>
                    <div class="modal-body">
                        На первом листе документа excel</br>
                        <strong>первый столбец</strong> - имя(например: <strong>Иван</strong>),(можно не заполнять если
                        нам нужна просто должность/профессию)</br>
                        <strong>второй столбец</strong> - иницила(например: <strong>И.И.</strong>(можно не заполнять
                        если
                        нам нужна просто должность/профессию),</br>
                        <strong>третий столбец</strong> - дата приема на работу(например: <strong>28.01.2016</strong>
                        можно не заполнять),</br>
                        <strong>четвертый столбец</strong>- профессия\должность(разряд, класс или
                        категория написать в конце через пробел просто цифрой, например: <strong>Продавец
                        4</strong>)</br>
                        <strong>Пятый столбей</strong> - создать новую должность/профессию, если вам необходимо
                        создать новую должность или профессию укажите в этом столбце букву <strong>д</strong> для
                        создания
                        новой должности или <strong>п</strong> для создания новой профессии размер букв не имеет
                        значения</br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="notProfessionPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Что делать если вы указали в штатном расписании
                            должность/профессию, а ее не оказалось в списке ОКРБ</h4>
                    </div>
                    <div class="modal-body">
                        1)Попробуйте вводить должность/профессию по буквам и вы, возможно, найдете в списке, что-то
                        подходящее(допустим у вас указан "Специалист по продажам", в ОКРБ есть "Специалист по продаже")
                        </br>
                        2)Замените в вашем штатном расписании все несоответствующие ОКРБ должности/профессии.
                        </br>
                        3)Если вы не нашли ничего похожего на вашу должность/профессию не указывайте их в штатном
                        расписании.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h3>Загрузить информацию о подразделениях и сотрудниках фирмы</h3>

            <div class="col-md-offset-1">
                <form enctype="multipart/form-data" method="post" action="." method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.subdivision.errors }}
                        {{ form.subdivision.label_tag }}
                        {{ form.subdivision }}
                    </div>
                    <hr>
                    <div class="form-group">

                        <div class="form-group">
                            {{ form.people_profession.label_tag }}
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#myModal">
                                Как заполнять штатное расписание
                            </button>
                            <a role="button" class="btn btn-sm btn-success"
                               href="{% static 'how_write_staffing_table.jpg' %}"
                               data-lightbox="how_write_staffing_table">
                                Пример заполненного штатного
                            </a>
                        </div>
                        {{ form.people_profession }}
                        {{ form.people_profession.errors }}
                    </div>
                    <input data-loading-text="Loading..." id="loading-btn" type="submit" value="Загрузить"
                           class="submit btn btn-primary btn-lg"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/check_prof_pos.js" %}"></script>
    <script type="text/javascript">
        $('#loading-btn').click(function () {
            var btn = $(this);
            btn.button('loading')
        });
    </script>
{% endblock %}
