{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}

{% block about_company %}
{% endblock %}
{% block fire %}

    {% block button_back %}
    {% endblock %}
    <div class=" col-md-10">
        <form action="." method="post" id="post-form">
            {% csrf_token %}


                {% for form in formset.forms %}
                    {{ form.id }}
                    <div class="inline {{ form.prefix }}">
                        <div>
                        {{ form.title }}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}

                        </div>
                    </div>
                {% endfor %}
            {{ formset.management_form }}
            <div id="submit" class="row">
                <div class="col-md-offset-1 col-md-2">
                    <input class="btn btn-primary" type="submit" name="submit" value="Отправить"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $('#post-form div.inline').formset({
                addText: 'Добавить',
                deleteText: 'Удалить',
                prefix: '{{ formset.prefix }}'
            });
        });
    </script>
    <script src="{% static "fire_safety/ajax_post.js" %}"></script>
    <script src="{% static "fire_safety/ajax_csrf.js" %}"></script>
{% endblock %}

