{% extends 'base.html' %}

{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-2">
        <div class="modal fade etkc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Код и Наивенование ЕТКС</h4>
                    </div>
                    <div class="modal-body">
                        {% for x in profession_etkc %}
                            {{ x.0 }} - {{ x.1 }}<br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade ekcd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Код и Наивенование ЕКСД</h4>
                    </div>
                    <div class="modal-body">
                        {% for x in position_ekcd %}
                            {{ x.0 }} - {{ x.1 }} <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <form role="form" method="post" action=".">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.name == 'professions_etkc' %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".etkc">
                            ЕТКС
                        </button>
                        {{ field }}
                    {% elif field.name == 'positions_ekcd' %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".ekcd">
                            ЕКСД
                        </button>
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}