{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
    <a type="button" role="button" class="btn btn-primary"
               href="{% url 'company:staff_detail' request.user.pk %}">Назад</a>
        <form role="form" class="form-inline" method="post" action=".">{% csrf_token %}
            <div class="form-group">
                <div><label>Фамилия инициалы сотрудников</label></div>
                {{ form.management_form }}
                {{ form.non_form_errors }}
                {% for f in form %}
                    {{ f.id }}

                    <div class="form-group inline {{ form.prefix }}">

                        {{ f.surname.errors }}
                        {{ f.surname.label_tag }}
                        {{ f.surname }}

                        {{ f.initials.errors }}
                        {{ f.initials.label_tag }}
                        {{ f.initials }}

                        {{ f.employment_date.errors }}
                        {{ f.employment_date.label_tag }}
                        {{ f.employment_date }}

                        <div>{{ f.DELETE }}</div>
                    </div>

                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'fire_safety/add.js' %}"></script>
{% endblock %}