{% extends 'base.html' %}

{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row" style="padding-bottom: 10px">
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-info" role="button">
                Страница подготовки к формирования документов по ПБ
            </a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'work-safety:instructions' %}" class="btn btn-sm btn-primary" role="button">
                Страница подготовки к формирования документов по ОТ
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}
    <style>
            input[type="checkbox"] {
            width: 20px; /*Desired width*/
            height: 20px; /*Desired height*/
        }
    </style>
    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in staff_work %}
                            {{ forloop.counter }}. {{ x }}</br>
                {% endfor %}">
            Сотрудники
        </button>
    </div>
    <div class="col-md-8">
        <form role="form" method="post" action=".">{% csrf_token %}
            {{ form.as_p }}
            {{ person_authorized_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Отправить">

        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}