{% extends 'base.html' %}

{% load static %}
{% block documents_section %}
{% endblock %}
{% block about_company %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-danger"><strong>{{ message|safe }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row" style="padding-bottom: 10px">
        <div class="col-md-4">
            <a href="{% url 'fire:instructions' %}" class="btn btn-sm btn-info" role="button">
                Страница подготовки к формирования документов по ПБ
            </a>
        </div>
    </div>

{% endblock %}
{% block content %}

    <div class="col-md-2">
        <button type="button" class="btn btn-default btn-sm example" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="{% for x in staff_work %}
                            {{ forloop.counter }}. {{ x.strip }}</br>
                {% endfor %}">
            Сотрудники
        </button>
    </div>
    <div class="col-md-8">
        <form role="form" method="post" action=".">{% csrf_token %}
            {{ form.as_p }}
{#            <fieldset>#}
{#                <legend>Специалисты участвующие в согласовании документов по пожарной безопасности</legend>#}
{##}
{#                {{ person_agreement_order_form.management_form }}#}
{#                {% for form in person_agreement_order_form %}#}
{#                    {{ form.id }}#}
{#                    <div class="inline {{ person_agreement_order_form.prefix }}">#}
{#                        {{ person_agreement_order.errors }}#}
{#                        {{ person_agreement_order.number.label_tag }}#}
{#                        {{ form.agreement }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </fieldset>#}
            <input type="submit" class="btn btn-primary" value="Отправить">

        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/informer.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
{% endblock %}