{% extends 'base.html' %}
{% load static %}
{% block documents_section %}
{% endblock %}
{% block content %}
    <div class="col-md-12">

        <form role="form" class="form-inline" method="post" action=".">{% csrf_token %}
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">Инструкции</th>
                    <th class="text-center">Должность(профессия)</th>


                </tr>
                </thead>
                {{ form.management_form }}
                {% for f in form %}
                    {{ f.id }}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ f.work_documents }}
                        </td>
                        <td>
                            {{ f.instance.derivative_position }}
                            {{ f.instance.employee_position }}
                            {{ f.instance.category }}
                        </td>

                    </tr>
                {% endfor %}
                {{ second_form.management_form }}
                {% for f in second_form %}
                    {{ f.id }}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                         <td>
                            {{ f.work_documents }}
                        </td>
                        <td>

                            {{ f.instance.work_profession }}
                            {{ f.instance.rank }}
                        </td>


                    </tr>
                {% endfor %}
            </table>


            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "fire_safety/hide_show_element.js" %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "fire_safety/select.js" %}"></script>
    <script src="{% static "bootstrap_3/js/defaults-ru_RU.min.js" %}"></script>
    <script src="{% static 'fire_safety/add.js' %}"></script>
    <script>
        $(document).ready(function () {
            var select = $('.instructions');
            select.selectpicker({
                'actionsBox': 'true',
                'deselectAllText': 'Снять все выделения',
                'selectAllText': 'Выделить все',
                'liveSearch': true,
                'liveSearchPlaceholder': null,
                'liveSearchStyle': 'contains',
                'dropupAuto': false,
                'selectedTextFormat': 'count > 0'
            }).on('loaded.bs.select', function (e) {
                var size = 100;
                sel = $(this).prev().find('.text');
                for (i = 0; i < sel.length; i++) {
                    newsContent = $(sel[i]);
                    newsText = newsContent.text();
                    if (newsText.length > size) {
                        newsContent.attr("data-toggle", "tooltip");
                        newsContent.attr("data-placement", "left");
                        newsContent.attr("title", newsText);
                        newsContent.text(newsText.slice(0, size) + ' ...');
                    }
                }
            });
        });
    </script>
{% endblock %}