{% load static staticfiles %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="utf-8">
    <title>Городничий</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link href="{% static "fire_safety/jquery-ui-1.11.4.custom/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "fire_safety/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "fire_safety/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "fire_safety/styles/fire_safety.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap_3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap_3/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "fire_safety/styles/bootstrap-treeview.css" %}" rel="stylesheet">
    <link href="{% static "fire_safety/styles/wickedpicker.css" %}" rel="stylesheet">
    <link href="{% static "lightbox/css/lightbox.min.css" %}" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
        }
        body { padding-bottom: 500px; }
    </style>
</head>
{% endblock %}
<body>
<div class="container">
    <nav class="navbar navbar-default row" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ГОРОДНИЧИЙ</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li><a href="{% url "home" %}">Главная</a></li>

                    <li><a href="{% url "company:list" %}">Спискок Компаний</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Сотрудники <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "company:add_position" request.user.pk %}">Добавить новую должность</a>
                                </li>
                                <li><a href="{% url "company:add_profession" request.user.pk %}">Добавить новую профессию</a>
                                </li>
                                <li>
                                    <a href="{% url "company:staff_detail" request.user.pk %}">
                                        Редактировать <strong>персональные данные</strong> сотрудников
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "company:position_profession" request.user.pk %}">
                                        Редактировать <strong>должность/профессию</strong> сотрудников
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "work-safety:siz-list-prof-pos" request.user.pk %}">
                                        Редактироваь <strong>СИЗ</strong> должностей/профессий
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "company:worker_instructions" %}">
                                        Указать <strong>инструкции</strong> для должностей/профессий
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "company:check_pos_prof" %}">
                                        Проверить должности(профессии)
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "work-safety:medical_data" %}">
                                        Загрузить информацию о мед. картах
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Документы <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "fire:list" 'order' %}">Пожарная безопасность</a>
                                </li>
                                <li><a href="{% url "work-safety:list-document" 'overall' %}">Охрана труда</a></li>
                                <li><a href="{% url "electrical_safety:list" %}">Электробезопасность</a></li>
                                <li><a href="{% url "ecology:list" %}">Экология</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Фирма <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Общая информация</li>
                                <li><a href="{% url "company:generic_info_detail" request.user.genericinfocompany.pk %}">
                                    Данные о фирме(компании)</a>
                                </li>
                                <li><a href="{% url "company:update_leaders" request.user.pk 'work' %}">Рукводящие должности</a></li>
                                <li><a href="{% url "company:activity" request.user.pk %}">Виды деятельности</a></li>
                                <li><a href="{% url 'company:subdivision_update' request.user.pk %}">
                                    Подразделения(удалить/добавить)</a>
                                <li><a href="{% url 'company:update_ekcd_ektc' request.user.pk %}">ЕКСД ЕКТС</a>
                                <li><a href="{% url 'company:staff_subdivision_download' request.user.pk %}">Перезагрузить штатное</a>
                                </li>
                                <li><a href="{% url 'company:delete' request.user.pk %}">Удалить фирму</a>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Охрана труда</li>
                                <li><a href="{% url "work-safety:instructions" %}"><strong>Инструкция как сформировать документы по ОТ</strong></a></li>
                                <li><a href="{% url "company:question" 'work_safety' request.user.pk %}">Вопросы
                                    охрана труда(ОТ)</a></li>
                                <li><a href="{% url "work-safety:create_select_ot_docs" %}">Сформровать выбранные документы</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Пожарная безопасность</li>
                                <li><a href="{% url "fire:instructions" %}"><strong>Инструкция как сформировать документы по ПБ</strong></a></li>
                                <li><a href="{% url "company:update" request.user.pk %}">Заполнить данные по пожарной безопасности</a></li>
                                <li><a href="{% url "company:question" 'fire_safety' request.user.pk %}">Вопросы
                                    пожарная безопасность</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Электробезопасность</li>
                                <li><a href="{% url "electrical_safety:instructions" %}"><strong>
                                    Инструкция как сформировать документы по Электробезопасности</strong></a></li>
                                <li><a href="{% url "electrical_safety:create_in_chain" 0 %}">Вопросы
                                    по электробезопасности</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Экология</li>
                                <li><a href="{% url "ecology:instruction" %}">
                                    <strong>Инструкция как сформировать документы по Экологии</strong></a></li>
                            </ul>
                        </li>
                        <li><a href="{% url "company:logout" %}">Выйти</a></li>
                        <li class="active"><a href="#">{{ request.user }}</a></li>

                    {% else %}
                        <li><a href="{% url "company:add" %}">Создать компанию</a></li>
                        <li><a href="{% url "company:check_pos_prof" %}">Проверить должности(профессии)</a></li>
                        <li><a href="{% url "company:login" %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        {% block about_test %}{% endblock %}
    </div>
    <div class="row">
        {% block about_company %}{% endblock %}
    </div>
    <div class="row">
        {% block documents_section %}
            <div id="section" class="col-md-4 col-md-offset-4" style="padding-top: 150px">
            <a href="{% url "fire:instructions" %}" class="btn btn-info btn-lg btn-block" role="button">Пожарная безопасность</a>
            <a href="{% url "work-safety:instructions" %}" class="btn btn-info btn-lg btn-block" role="button">Охрана труда</a>
            <a href="{% url "electrical_safety:instructions" %}" class="btn btn-info btn-lg btn-block" role="button">Электробезопасность</a>
            <a href="{% url "ecology:instruction" %}" class="btn btn-info btn-lg btn-block" role="button">Экология</a>
            <a href="{% url "company:check_pos_prof" %}" class="btn btn-primary btn-lg btn-block" role="button">
                Проверить должности(профессии)
            </a>
{#            <a href="{% url "outsourcing:all_elements" %}" class="btn btn-info btn-lg btn-block" role="button">Тестовый аутсортинг</a>#}
{#            <a href="{% url "ptm:instruction" %}" class="btn btn-info btn-lg btn-block" role="button">ПТМ</a>#}
            </div>
        {% endblock %}
        {% block fire %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
{% block js %}
    <script src="{% static 'fire_safety/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'fire_safety/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'fire_safety/autocomplete.js' %}"></script>
    <script src="{% static 'fire_safety/jquery.formset2.js' %}"></script>
    <script src="{% static 'fire_safety/formset.js' %}"></script>
    <script src="{% static "bootstrap_3/js/bootstrap.min.js" %}"></script>
    <script src="{% static "lightbox/js/lightbox.min.js" %}"></script>
{% endblock %}
</html>
